[2017-03-01 15:20] mdittmer opened #2 "Test & implement API Extractor"
@jingt06 PTAL & link from PR comments.

[2017-03-01 15:22] RByers opened #3 "Improve "add browser" UI"
The list is getting a little unwieldy.  Maybe do something multi-level - first pick one of the 5 browsers, then the OS, then the version (sorted with most recent first)?

[2017-03-01 15:26] RByers opened #4 "Use friendly Safari version numbers"
I think the more useful version number for Safari is the `Version/` one (eg. 10.0.03), not the `Safari/` one (eg. 602.4.8).

[2017-03-01 15:40] RByers opened #5 "Add GitHub link to the UI"
So people know where to go to file bugs / feature requests

[2017-03-01 15:41] RByers opened #6 "Download CSV is failing"
I get "failed - Network error" whenever I try to use "download CSV"

[2017-03-01 15:44] RByers opened #7 "Enable clicking on graph points to get a catalog page"
Eg. in the "Safari API diff history" I'm surprised to see so many APIs listed as removed.  I want to somehow see a list of what these APIs are.

[2017-03-01 16:10] RByers opened #8 "CSSStyleDeclaration properties missing on Firefox and Safari"
We're hoping that we can get the list of supported CSS properties showing up consistently in CSSStyleDeclaration.  In Firefox the [properties are on](https://bugzilla.mozilla.org/show_bug.cgi?id=1290786) `CSS2Properties.prototype` instead of `CSSStyleDeclaration.prototype`.  I think we had some plan for merging `CSS2Properties` "up" into `CSSStyleDeclaration`, right?  I don't see CSS2Properties me

[2017-03-01 16:47] RByers opened #9 "Start with default browser set"
Often you just want to see the latest Chrome, Firefox, Edge and Safari data.  Perhaps pre-populate the browser list with that (all Windows, except Safari)?

[2017-03-01 16:48] RByers opened #10 "Add mobile browsers?"
The mobile browsers should have mostly the same surface area as their desktop counterparts, but there are some interesting differences.  We talked about adding Chrome Android, right?  What are the trade offs here?

[2017-03-01 17:39] RByers commented on #8
Looks like the Safari data here used to work (according to the spreadsheet), did something break?

[2017-03-09 02:22] foolip opened #14 "StyleSheet#disabled not found via the web-apis.html tool"
In https://bugs.chromium.org/p/chromium/issues/detail?id=695984 I was using the tool to see if the disabled attributes were supported in all the engines. I got my answer for the 3 element interfaces, but couldn't find the StyleSheet interface at all. Collection bug or display bug?

[2017-03-15 19:55] mdittmer opened #19 "Switch license/copyright to BSD/Chromium Authors"
Same as done with webidl-diff [here](https://github.com/GoogleChrome/webidl-diff/commit/289acb6729ccebf63c300b6f0dd97251adfb9cf1) and [here](https://github.com/GoogleChrome/webidl-diff/commit/9ef2027d90aa66a7d7e31fcafbb599601033c033).

[2017-03-15 19:55] mdittmer commented on #19
@jingt06 PTAL at this when you get a chance. I figure you should do it rather than facing merge conflicts with any in-flight PRs you might have.

[2017-03-15 21:08] jingt06 opened #20 "Add document explaining how interfaces and APIs are identified."

[2017-03-17 14:46] jingt06 commented on #19
#22

[2017-03-28 14:59] mdittmer opened #24 "Add definition and rationale to confluence metrics pages"
This info provides important context to anyone inspecting the graphs.

[2017-03-28 15:00] mdittmer opened #25 "Better use space in catalog view"
The catalog view currently has a few issues:

-  Small fixed width
- Check/x tiles are huge; let's tighten them up
- Browser headings are pretty verbose/wide; tighten them up too

[2017-03-28 15:22] mdittmer opened #26 "Add colour to points that are "shipped this browser""
Metrics views create a point on each line for shipping from **any** browser. When the browser shipped is the browser associated with the current line, make the point a different colour.

[2017-03-28 15:26] mdittmer opened #27 "Some metrics graphs overlap with their titles"

[2017-04-12 18:22] mdittmer commented on #25
@jingt06 please track down the commit(s) that fixed this and mention before closing.

[2017-04-12 18:23] #19 closed

[2017-04-12 18:23] mdittmer commented on #14
This is now obsolete.

[2017-04-12 18:23] #14 closed

[2017-04-12 18:24] mdittmer commented on #9
@jingt06 please find commit(s) fixing this and mention before close.

[2017-04-12 18:24] mdittmer commented on #8
@jingt06 this was fixed upstream in `object-graph-js`. Please provide a commit or PR link then close this.

[2017-04-12 18:25] mdittmer commented on #7
This is done. @jingt06 please link a commit and close.

[2017-04-12 18:25] mdittmer commented on #6
This is fixed. @jingt06 please link and close.

[2017-04-12 18:26] mdittmer commented on #5
@jingt06 please link to commit containing current implementation. Right now it's in the footer. Maybe we want a "Fork on Github" banner top-right? @RByers WDYT?

[2017-04-12 18:27] mdittmer commented on #3
This is much improved now. @jingt06 please link to commit that added the UI change, then close.

[2017-04-12 18:28] mdittmer commented on #2
Maybe we can link a bunch of PRs here before we mark it as closed. @jingt06 ?

[2017-04-12 18:31] mdittmer opened #34 "Refactor chart-based models to share setup code"
We have two flavours of time series charts:

- Plain time series (but multiple may appear on one graph)
- "Tri-time-series": Used for number of APIs + add/remove delta on a single series

Right now, there is no common base class for these, even though a lot of setup work is the same.

[2017-04-12 18:34] mdittmer opened #35 "Write metric computation tests"
Computation routines are landing on the tail end of @jingt06 's internship. We haven't written tests for them yet 😢

[2017-04-12 18:35] mdittmer opened #36 "Multiple vendor graph controls"
It would be nice if the user could add/select vendors to include in time series graphs. This would eliminate the need for separate graphs to show "all browsers" and "each browser individually".

[2017-04-12 18:37] mdittmer opened #37 "Give a better name to custom views"
When custom views are created for drilling down in metrics graphs, their tabs are labeled "#VIEW0", "#VIEW1", etc. in the UI. Almost anything would be better than this.

[2017-04-12 18:37] mdittmer opened #38 "Add UI control to remove custom views"
It should be possible to remove custom views that were created by drilling down into analysis graphs.

[2017-04-12 18:39] mdittmer opened #39 "Test and implement "additional metrics" from design review"
These metrics included:

- **Overall API confluence**: what fraction of the total APIs are present in at least 3 or 4 engines at any given time?
- **First to implement**: How many APIs did this browser ship that were later shipped by at least 2 or 3 other browsers?

[2017-04-12 18:43] mdittmer opened #40 "Add deep linking"
All app states should be linkable. This means that we would have different URLs (possibly just a different anchor/fragment) for:

- API catalog (and custom views spawned by analysis)
  - Page number
  - Expand all state
  - Search query
  - Currently selected browsers
- Analysis
  - Currently selected view
  - State for custom views

This may prove to be too much state. Perhaps we want the ability

[2017-04-12 18:45] mdittmer opened #41 "Test and implement: Pushing data to Cloud Datastore"
We have tests that use the emulator to ensure that FOAM models are behaving as expected, but there is no code checked in that, when run in a Compute/App Engine context, will commit data to Cloud Datastore (yet).

[2017-04-12 18:47] mdittmer opened #42 "UI polish: "X" button to close browser selections should stick to top-right corner of cell"

[2017-04-12 18:48] mdittmer opened #43 "UI polish: Main view should be full width"
The tool is for data analysis (not reading prose) on desktop/laptop machines so there's no reason to limit the main view's width.

[2017-04-12 18:49] mdittmer opened #44 "UI polish: Spacing around main "Web API Confluence" heading"

[2017-04-12 18:49] mdittmer opened #45 "UI polish: Some special character is showing up next to (C) copyright symbol in footer"

[2017-04-12 18:58] mdittmer opened #46 "Move to karma/jasmine + jasmine/node combined tests"
Similar to https://github.com/GoogleChrome/webidl-diff test setup. This should fix our misleading high coverage metrics (we're missing tests for all the code in #33 but it claims to have no impact on coverage). This will be necessary before we can fix #35.

[2017-04-12 19:42] mdittmer opened #47 "Simplify metric compute() implementations with custom mLangs and/or sinks"
Some metric `compute()` implementations contain a lot of Promise synchronization and exploiting side-effects in accumulating (or reducing) objects and arrays. They should be cleaned up to concisely express the queries they intend, which will probably require custom mLangs and/or sinks, such as `DISTINCT`.

[2017-04-13 20:13] mdittmer opened #50 "Drop IE data from collections loaded by server"
Metrics are computed assuming 4 modern engines (Edge, Blink, WebKit, Gecko). IE (Trident) data should not be included in analysis.

[2017-04-25 07:34] jingt06 commented on #6
Fixed in #30

[2017-04-25 07:34] #6 closed

[2017-04-25 07:34] jingt06 commented on #9
Feature added in #30

[2017-04-25 07:34] #9 closed

[2017-04-25 07:35] jingt06 commented on #25
Fixed in #30.

[2017-04-25 07:35] #25 closed

[2017-04-25 07:36] jingt06 commented on #7
Feature added in #33.

[2017-04-25 07:36] #7 closed

[2017-04-25 07:37] jingt06 commented on #5
Github link added in #30.

[2017-04-25 07:37] #5 closed

[2017-04-25 07:37] jingt06 commented on #3
Feature added in #30.

[2017-04-25 07:38] jingt06 commented on #2
Tests added in #11.

[2017-04-25 07:38] #2 closed

[2017-04-25 07:38] #3 closed

[2017-05-05 18:41] mdittmer opened #58 "Rename: browser -> release; vendor -> browser"
Based on discussion of #57 we should rename classes and variables named `browser*` (except `browserName` and `browserVersion`) to `release*`, because we intend a particular release of a browser. Similarly, comments and variable names that refer to `vendor` actually refer to a particular `browser` (which has multiple releases).

@arobins does that sound right?

[2017-05-05 19:02] arobins commented on #58
sgtm

[2017-05-07 12:30] mdittmer opened #59 "Use ReadOnlyDAO for project's read-only DAOs"
Standard DAO decorator introduced in https://github.com/foam-framework/foam2/pull/318/files#diff-2981b40014961d72e93be57efd49e5e2R20.

[2017-05-10 13:26] mdittmer commented on #58
Fixed in 4f4d92b2983e3f8b4f1025069d85f0ca350c31e0

[2017-05-10 13:26] #58 closed

[2017-05-10 13:27] mdittmer commented on #47
#53 #54 #55 #56 #57 were all towards this.

[2017-05-16 16:57] mdittmer opened #67 "Consolidate metrics"
Metrics each contain roughly the same data with different semantics/labels. Also, the set ops refactor exposed similar patterns in how metrics are computed. The metric computer classes should probably be consolidated into:

- A single metric data class
- A metric computation interface
- Three metric computation implementations

[2017-05-16 17:04] mdittmer commented on #47
Also #62 #65 #66, and that's all of them.

[2017-05-16 17:04] #47 closed

[2017-06-06 13:03] mdittmer opened #71 "Merge charts"
Now that the model for chart data points has been unified, the chart code for various metrics (except API Velocity) is virtually identical. We should just have one chart.

[2017-06-15 14:30] mdittmer commented on #71
This will be fixed by #73

[2017-06-15 14:32] mdittmer commented on #67
Fixed in 77b78bcf40e1a749eb86139e077a7c8313fd4f97

[2017-06-15 14:32] #67 closed

[2017-06-15 14:33] mdittmer commented on #46
Fixed in 995594f372165e788e57c5538a2027a24a4fedf1

[2017-06-15 14:33] #46 closed

[2017-06-15 14:35] mdittmer commented on #34
This was duplicated in closed #71

[2017-06-15 14:35] #34 closed

[2017-06-15 14:47] mdittmer opened #74 "Catalog search broken on master"
Some flow in catalog search is throwing (client-side) on master branch.

[2017-06-15 14:49] #74 closed

[2017-06-15 15:15] RByers opened #75 "Consider adding Modernizr data as "APIs""
[Modernizr](https://modernizr.com) is a hand-curated list of [feature detects](https://modernizr.com/docs#features).  In many ways the status of each of these detects is as relevant to API confluence as the presence/absense of a JS API.  In some cases they're the same (eg. Modernizr.JSON is a [simple combination of JS API checks](https://github.com/Modernizr/Modernizr/blob/master/feature-detects/j

[2017-06-15 17:03] mdittmer commented on #8
This has been fixed for Safari via https://github.com/mdittmer/object-graph-js/commit/3f085717d50b538ec762ff8031b54f2709397f8c but `CSS2Properties` is the top-level-prototype for `foo.style`in Firefox. We need to copy its API surface into `CSSStyleDeclaration` in order to fake this for Firefox.

[2017-06-15 18:54] mdittmer opened #78 "Firefox: CSS2Properties currently copied into CSSStyleDeclaration"
Firefox's `CSS2Properties` is a non-standard interface that extends a very small `CSSStyleDeclaration`. The union of these interfaces is what is meant by a "standard CSSStyleDeclaration" implementation in Firefox. This is a [known issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1290786), but is not high priority for the Firefox team.

[2017-07-24 14:39] #71 closed

[2017-07-24 17:58] mdittmer commented on #41
Fixed inhttps://github.com/GoogleChrome/confluence/commit/6dd971fff75b9edf6cb5e41ff96cd8391aa81081

[2017-07-24 17:58] #41 closed

[2017-07-24 18:01] mdittmer commented on #50
This was fixed in a data update. Data were first backed up, then IE data were deleted.

[2017-07-24 18:01] #50 closed

[2017-07-25 15:33] mdittmer opened #88 "Catalog search is broken"
A promise rejection error is logged when the search action is committed.

[2017-07-25 15:35] mdittmer commented on #8
This has been fixed for Firefox via a data update.

[2017-07-25 15:35] #8 closed

[2017-07-25 16:01] mdittmer commented on #45
Fixed in https://github.com/GoogleChrome/confluence/commit/2887f6b897324d6917c9a8dfacb25e012fcffb4f

[2017-07-25 16:01] #45 closed

[2017-07-25 16:02] mdittmer opened #89 "Opening custom views from metrics graphs is broken"
The table loads the correct header, but the data don't show up. Perhaps it's just taking forever to fetch from Datastore, but it seems like something is actually failing.

[2017-08-08 18:26] RByers opened #91 "window.Screen APIs are (mostly) missing"
`window.Screen.prototype` should have a bunch of properties eg. `availTop`, but I don't see them in the raw data (Except for a couple Chrome releases under an interface named `)`)).

[2017-08-10 14:38] mdittmer commented on #91
This is fixed with last night's data push. Raw object graph data on https://github.com/GoogleChrome/confluence/commit/ed13a99116ec36b61661b9f7be2edc413d589934 has been processed and pushed to Datastore.

[2017-08-10 14:38] #91 closed

[2017-09-01 20:54] mdittmer commented on #59
These have been adopted for a while now, at least on the impending `versioned` branch.

[2017-09-01 20:54] #59 closed

[2017-09-01 21:02] mdittmer opened #96 "Batch data during initial load and paging"
The client worker script and `ApiMatrix` should be smart enough to fetch smaller batches of data and only produce a matrix of data relevant to the current page (and maybe a couple surrounding pages).

[2017-09-05 20:09] mdittmer opened #98 "Write markdown docs on data collection and deployment"
Some (all?) of this can go in `README.md`

[2017-09-05 20:10] mdittmer commented on #89
This appears to have been fixed at some point, probably during data layer changes from `versioned` branch.

[2017-09-05 20:10] #89 closed

[2017-09-05 20:11] mdittmer commented on #88
This appears to have been fixed, probably during data layer refactor in `versioned` branch.

[2017-09-05 20:11] #88 closed

[2017-09-07 11:47] mdittmer commented on #44
Fixed in https://github.com/GoogleChrome/confluence/commit/f89746711ded58fb4de6a64c2a435d5598a9e601

[2017-09-07 11:47] #44 closed

[2017-09-07 19:12] #42 closed

[2017-09-08 19:16] mdittmer opened #102 "Custom "API Confluence" page views causing performance problems"
Creating custom views by interacting with confluence graphs (except for API Velocity, they are okay) triggers an expensive query and data rehashing procedure.

The real problem here is that the client-side part (data caching and rehashing) is done largely synchronously on the same worker that serves all other data queries. Hence, attempting to load a custom confluence view, then navigating to the

[2017-09-08 19:19] mdittmer commented on #102
@foolip @drufball what would you think about disabling these custom views for now? The downside there is that we cannot surface "proof" that the API counts are correct via the UI.

Another alternative (which I have sitting on a branch somewhere) is to make the views open in a new window. The downside there is that we don't benefit from caching (since we're not using a shared or service worker). On

[2017-09-09 19:14] foolip commented on #102
Are custom views when you pick a set of browsers other than the default?

[2017-09-09 23:06] mdittmer commented on #102
No. If you click a point on one of the metrics graphs, an overlay includes
a link next to the number written in the overlay. Clicking the link opens a
new web UI tab (alongside Aggressive Removal, etc.) Showing all the
relevant browsers to verify the metric is correct, and only the APIs
included in the count from the graph. The main value here is seeing what
the APIs that constitute the metric are

[2017-09-10 04:17] foolip commented on #102
Oh, I see, pretty cool! Disabling that for the initial launch should be fine though, it'll still be possible to verify the correctness by other means.

[2017-09-13 13:53] mdittmer commented on #102
This is improved by https://github.com/GoogleChrome/confluence/pull/106 but could still benefit from better loading+caching strategies.

[2017-09-13 13:54] mdittmer commented on #96
This will not be done before BlinkOn, but would yield significant initial load time improvements.

[2017-09-13 13:55] mdittmer commented on #43
This is fixed in https://github.com/GoogleChrome/confluence/pull/99

[2017-09-13 13:55] #43 closed

[2017-09-13 13:55] mdittmer commented on #37
This is deprecated by #106

[2017-09-13 13:55] #37 closed

[2017-09-13 13:57] mdittmer commented on #40
This was fixed by #97 #100 #106 #107

[2017-09-13 13:57] #40 closed

[2017-09-13 18:29] mdittmer commented on #4
Fixed in https://github.com/GoogleChrome/confluence/pull/115

[2017-09-13 18:29] #4 closed

[2017-09-14 19:47] mdittmer commented on #98
This is fixed in #118

[2017-09-14 19:47] #98 closed

[2017-09-14 19:48] mdittmer commented on #24
This is fixed by #118

[2017-09-14 19:48] #24 closed

[2017-09-14 19:48] mdittmer commented on #38
This is obsolete. "Custom views" now open in a new window.

[2017-09-14 19:48] #38 closed

[2017-09-15 18:06] mdittmer opened #120 "Browser-Specific should be based on "two or more others""
The [metrics doc](https://docs.google.com/document/d/1gSyOBsedPuxlNsoPM3N4hXPqOViLVX0jtrw9Dmsq7Ck/edit) defines browser-specific as:

`README.md`, `confluence.html`, and the metric calculator (`lib/confluence/browser_specific.es6.js`) document and implement this as:

This is important to fix especially because the *common WebKit lineage* of Safari and Chrome deflate their metric.

[2017-09-15 18:12] mdittmer opened #121 "Safari version < 7.1 API Velocity is suspicious"
Safari 5.1 and 6.0 (according to the data) ship < 500 APIs. That does *not* seem right.

[2017-09-15 18:18] foolip opened #122 "Implausible removals claimed between Chrome 53.0.2785.101 and 53.0.2785.113 on Windows 10.0"
Can be seen at http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Chrome_53.0.2785.113_Windows_10.0%22,%22Chrome_53.0.2785.101_Windows_10.0%22%5D&releaseOptions=%7B%22Chrome_53.0.2785.113_Windows_10.0%22:true,%22Chrome_53.0.2785.101_Windows_10.0%22:false%7D&numAvailable=null&currentPage=0&gap=5&itemPerPage=15&searchKey=%22%22

It claims that lots of things on CSSStyleDeclaration have c

[2017-09-15 18:40] foolip opened #123 "API velocity graph point popup cannot be hidden"
Steps to reproduce:
1. In an API velocity graph, click any point
1. Scroll to another graph and click that point
1. There are now two popups showing. Click outside to close the second of them.

The first popup now sits around, impossible to dismiss

[2017-09-15 18:42] RByers commented on #120
Talking more with @foolip, I think maybe "browser-specific" is fine as it is - it's what we want for our use case of talking to chromium teams about APIs they've shipped that failed to get traction elsewhere.  So we should fix this bug just by updating the confluence metrics doc to reflect the implementation.

But for the "eliminate legacy WebKit APIs" use case, perhaps we'd eventually like anothe

[2017-09-15 18:49] RByers opened #124 "Add non-grace-period view on browser-specific APIs"
@foolip says that in addition to the "1 year grace period" view of browser-specific APIs, he'd like to also see a picture of the debt we're creating the minute we are the first to ship a new API.  I.e. at any given point in time, how many APIs exist for the one browser but no others.

I don't think this data will be particularly actionable (we don't consider shipping first to be problem in and of

[2017-09-15 18:49] mdittmer commented on #123
Ah, I see. I think click-to-cancel is only bound to the graph where the popup originated.

[2017-09-15 18:51] RByers opened #125 "Explain "elastic band""
Maybe just link to [this post](https://plus.google.com/+AlexKomoroske/posts/WNvcmeTFhzx)?

[2017-09-15 18:53] RByers opened #126 "Add note about specs"
Somewhere in the description we should note that "API confluence" focuses on interoperability of implementations, which is only one piece of the story for overall web platform health.  In particular, whether an API is well defined in a spec  (and potentially what level of maturity that spec has reached and how well it's tested by web-platform-tests) is an important part of the question of whether

[2017-09-15 18:54] RByers commented on #126
@foolip @drufball want to propose any specific text on the opening page for this?

[2017-09-16 02:36] mdittmer opened #127 "Metric data point-based catalog views should have different constraints"
The matrix on metric data point-based catalog views contains silently added (no UI to control them) filters about certain browsers providing/not providing the APIs, and the number of browsers that support APIs.

These views need to either

1. Not support add/remove releases, and give a sub-title describing what the fixed view contains, or
2. Provide a UI for controlling these hidden filters.

With

[2017-09-16 22:37] foolip commented on #126
We have "This site is a work in progress. Data reported on the site may not be an accurate reflection of web platform implementations. Please refer to known issues on Github for more information." Add somewhere: "Status in standards is not part of the data or analysis, and there is no guarantee that a widely-supported API is interoperable in its details, or will remain part of the web platform."

[2017-09-16 22:38] foolip commented on #124
Having a look at the graphs would be nice before adding it to the deployed web site. Maybe they'll be terrible and we should scrap the idea.

[2017-09-17 12:47] foolip commented on #120
I'd be interested to see the "fragmented" graphs. If we thrown in an "exists everywhere" metric we'll have all permutations of existence, 1,2, 3 and 4. I think I'd be interested in seeing all of those without a grace period, to see if the graphs are totally smooth and non-actionable, or if we see some larger jumps.

[2017-09-18 20:10] mdittmer opened #133 "Cleaner journal read/write enforcement needed"
DAO setup currently uses the appropriate file mode for journals that should be read-only, but `JDAO` hooks up a listener to its delegate that will attempt to write to the file (and fail). Some sort of `ReadOnlyJDAO` is needed to avoid unwanted Promise rejections.

[2017-09-18 20:23] mdittmer opened #134 "DAO reset listener objects need vetting"
https://github.com/GoogleChrome/confluence/pull/130/commits/866682f67a7c4613310188773ba6fde0d3edce2e looks like it may contain the "objects created in wrong context" issue; need to verify whether each of these actually gets sent down the wire, and if not, fix object creation pattern.

[2017-09-18 23:03] foolip opened #136 "Need some kind of loading indicator"
The API Catalog view with the default selection of browsers took a few seconds to load after clicking "Expand All". With more browsers one would start to wonder what's happening, so a spinner of some sorts to indicate network activity would be good. And stop it if the fetch fails :)

[2017-09-18 23:34] mdittmer commented on #136
I don't think this issue is related to clicking "Expand All", but rather, just the load time. Right now we have a (mostly correct) progress bar at the top of the table view, but it's rather subtle. We can add a toast after a timeout (at least, for now) and further investigate how to optimize first load time.

[2017-09-19 00:00] foolip commented on #136
Yep, I was confused by the fact that I've always clicked "Expand All" without waiting for the load.

As discussed on chat, what we should have is probably a toast that shows up after 3 seconds of waiting that says "Still working, see issue bla for why it can be slow"

[2017-09-19 02:43] foolip opened #137 "Tweaks for public launch"
Discussing at BlinkOn.

* Replace the image and prose on the landing page currently the box between the red warning and "The Catalog". In its place, put "This dashboard is intended for browser engineers to locate low-level differences in support for APIs and to coordinate work."
* Make the prose text smaller, 16px or so. Maybe smaller headings to match.

[2017-09-19 02:44] foolip commented on #137
For the confluence metrics graph, make the text smaller (like a caption) and put it after the graphs.

[2017-09-19 09:29] foolip opened #138 "Firefox API velocity graph seems wrong for Firefox 54"
Total APIs went from 5991 to 5802, but there are just 6 APIs removed. Clicking through the "Removed APIs" link confirms 6 removed APIs.

[2017-09-19 09:36] foolip opened #139 "Wrong order in Failure to Ship graphs for Chrome"
In the first big bump for Chrome, it looks like Chrome 53.0.2785.143 was released before 53.0.2785.113, which is presumably not right. Seems plausible that with that fixed, the graphs for Chrome *and* other browsers might be different.

[2017-09-19 09:39] foolip opened #140 "Two releases on the same point for Chrome in Aggressive Removal APIs graph"
After the big jump, it looks like there are two data points for 48.0.2564.97.

[2017-09-19 10:54] foolip opened #142 "APIs should be sorted to make it easier to scroll to find"
In the API catalog, if showing the default set of browsers, then the Firefox-only properties on CSSStyleDeclaration, starting with "align-content", appear far down the list, not in alphabetical order.

[2017-09-19 10:57] foolip commented on #138
Chrome 53 is missing from that graph, perhaps that is related.

[2017-09-19 11:35] RByers opened #143 "Aggressive removal lists APIs that have been added back"
The description says:

But I see APIs like `Object.values` which are actually added back in the latest release of Chrome.

[2017-09-19 12:37] foolip opened #144 "Failure to Ship links don't sort browser versions"
In the Failure to Ship graph, the first bump in Chrome's graph is http://example.com/#!/catalog?releaseKeys=%5B%22Chrome_53.0.2785.143_OSX_10.11.6%22,%22Chrome_38.0.2125.101_OSX_10.11.6%22,%22Chrome_39.0.2171.65_OSX_10.11.6%22,%22Chrome_40.0.2214.93_OSX_10.11.6%22,%22Chrome_41.0.2272.76_OSX_10.11.6%22,%22Chrome_42.0.2311.135_OSX_10.11.6%22,%22Chrome_43.0.2357.65_OSX_10.11.6%22,%22Chrome_44.0.2403.

[2017-09-19 12:52] foolip opened #145 "Removing lots of browsers and adding one back doesn't work (doesn't load)"
On the Failure to Ship graph, follow the link from the first bump on the Chrome line:

http://example.com/#!/catalog?releaseKeys=%5B%22Chrome_53.0.2785.143_OSX_10.11.6%22,%22Edge_14.14393_Windows_10.0%22,%22Chrome_57.0.2987.110_Windows_10.0%22%5D&releaseOptions=%7B%22Chrome_53.0.2785.143_OSX_10.11.6%22:false,%22Chrome_38.0.2125.101_OSX_10.11.6%22:false,%22Chrome_39.0.2171.65_OSX_10.11.6%22:false,%

[2017-09-19 13:09] mdittmer commented on #144
I think that's because 53 is the "latest/current release" in the metric's logic. Not that we shouldn't change it, just, I think that's where the symptom came from :smile:

[2017-09-19 13:47] mdittmer commented on #121
UPDATE: Last Datastore update scrubbed early versions of Safari from API Velocity data. This is just as bad. Requires further investigation.

[2017-09-19 13:48] mdittmer commented on #125
The link was added and then removed due to pre-launch editorializing. Closing this.

[2017-09-19 13:48] #125 closed

[2017-09-19 13:49] mdittmer commented on #145
This is a symptom of #127. The other filters on the view cause an empty set of APIs to be computed. Closing this as duplicate.

[2017-09-19 13:49] #145 closed

[2017-09-19 21:54] foolip opened #152 "Mixed content issues with HTTPS"
https://web-confluence.appspot.com tries to load http://fonts.googleapis.com/icon?family=Material+Icons' and "This request has been blocked; the content must be served over HTTPS."

[2017-09-19 21:56] foolip commented on #137
All fixed, thanks @mdittmer!

[2017-09-19 21:56] #137 closed

[2017-09-19 23:22] foolip commented on #122
This is from http://web-confluence.appspot.com/#!/confluence, at what looks like removal and adding back in in July-October. Seems like there are differences between Chrome 53.0.2785.101 Windows 10.0 and Chrome 53.0.2785.113 Windows 10.0 that probably aren't true.

[2017-09-19 23:31] foolip opened #154 "Link to http://web-confluence.appspot.com in repo description"
This way it's easy to find it from GitHub, like https://github.com/whatwg/dom

[2017-09-19 23:36] #152 closed

[2017-09-20 04:53] foolip opened #157 "Consider dropping "Copyright 2017 The Chromium Authors""
It's true, but not necessary to say. People can go look at GitHub to figure out how to use the source.

[2017-09-20 21:24] RByers opened #158 "Can't link to specific confluence graphs"
Can we give each page (ideally each graph on each page) it's own URL?

[2017-09-20 21:31] RByers opened #159 "Tweak "bad APIs" wording"
On the main page it says:

Can we clarify this to "potentially problematic" instead of "bad"?  There are lots of examples where something isn't necessarily bad.  Eg. Firefox ships some APIs defined in REC standards agreed upon by all major vendors but which none of the other browsers have caught up to yet. Such cases do represent bugs in the platform somewhere, but we don't want to imply that Fire

[2017-09-20 22:22] miketaylr opened #160 "Unable to scroll in Firefox"
STR:

In Firefox 57,
1) open http://web-confluence.appspot.com/#!/confluence
2) attempt to scroll down to see Edge graphs, etc.

I didn't dig in deeply to understand why... but there's an `overflow: hidden` rule on body:

[code]

[2017-09-20 22:24] othermaciej opened #162 "Add Safari 11 data"
It would be helpful if Safari 11 data could be added, either based on the most recent beta, or soon when it actually ships.

[2017-09-20 22:28] #157 closed

[2017-09-20 22:29] othermaciej opened #163 "Safari's "failure to ship" metric claims it doesn't support some APIs that it actually does"
Here are some APIs that the "failure to ship" metric claims Safari does not support, but which it actually does:

ArrayBuffer.length
CSSStyleDeclaration.cssFloat
DOMException.code
DOMException.message
HTMLElement.offset{Height,Left,Parent,Top,Width}
HTMLElement.style

There are probably others, but these were the most immediately obvious (since these are either super old APIs).

The data would be

[2017-09-20 22:29] othermaciej commented on #162
Specifically, this would make the "failure to ship" data more useful since Safari 11 likely ships many of the mentioned APIs.

[2017-09-20 22:35] foolip commented on #162
We're using BrowserStack to collect the data, do you know if new releases normally show up there quickly? @mdittmer are there any cases where you've done ad-hoc runs on physical machines to get new data in there? Is there any issue for automatically finding and running new releases that show up in BrowserStack, or does that already happen?

[2017-09-20 22:36] RByers opened #164 "Graph y-axis should be 0-based"
I just realized the browser-specific graph looks pretty misleading with Chrome and Safari way down at the bottom.  The Y-axis seems to start around 200.  I think we should probably make them 0-based to get a better scale.

[2017-09-20 22:42] foolip commented on #163
Thanks for reporting, this is great! I can confirm that `ArrayBuffer.length` is 1 in the Safari 10.1 currently on BrowserStack, either there was an earlier release that was different or there's a problem with the methodology.

One very relevant thing is that `Object.getOwnPropertyNames(ArrayBuffer)` doesn't include "length", so perhaps there's no way to discover that it exists?

Somewhat relatedly

[2017-09-20 22:45] RByers commented on #162
Yeah definitely we need to get Safari 11 data added ASAP.  It seems like it can sometimes take awhile for Browserstack to update (they have a STP build under El Capitan, but it's an old Safari 9 STP!).  Perhaps it's worth doing a one-off manual run on one of our macs if it's not too difficult and won't cause problems down the line when we re-generate data from Browserstack?

[2017-09-20 22:48] foolip commented on #163
HTMLElement.offset* is because they were on Element before, @cdumez fixed that in https://trac.webkit.org/changeset/216466/webkit/trunk/Source/WebCore/html/HTMLElement.idl

[2017-09-20 22:48] foolip commented on #163
@mdittmer, can you investigate the remaining ones?

[2017-09-20 22:51] foolip commented on #162
Per https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Safari_11_0/Safari_11_0.html it looks like it's already released. I agree that doing a one-off manual run just to get the data in would be great!

[2017-09-20 23:20] #154 closed

[2017-09-20 23:28] RByers opened #165 "Doesn't scroll on Firefox or Firefox"
Well this is embarrassing 😉. Our interop dashboard is unusable in Firefox because it doesn't scroll due to an `overflow:hidden` rule on body.  We should figure out why Chrome and Firefox behave differently in that regard (@bokand do you know?).  But separately let's just fix it ASAP.

[2017-09-20 23:35] foolip opened #166 "Can we get rid of the pagination?"
Since we can expand interfaces, one often has to scroll, but we also have pagination. Could we always use a single page instead?

Probably wouldn't fix https://github.com/GoogleChrome/confluence/issues/165 but may be related.

[2017-09-20 23:37] foolip opened #167 "Expand all by default?"
When I've been looking around, I've always clicked "expand all" to see the details, just knowing the affected interfaces isn't quite enough. Can we expand the views by default, and perhaps have a button to toggle expand / collapse all?

[2017-09-20 23:38] mdittmer commented on #160
This issue also affects latest Edge. The layout pattern in effect (which maybe *wrong according to specs*) is as follows:

- Nest everything from `<body>` down to scroll container with `display: flex; flex-direction: column;`
- All ancestors of scrollable container are `flex-grow: 1; flex-shrink: 1;`
- Others (header and footer) are `flex-grow: 0; flex-shrink: 0;`
- Scrollable container (which dif

[2017-09-21 01:24] bokand commented on #165
Weird, this is a scrolling <div> which should work the same in both. I filed https://webcompat.com/issues/10168

There is a well known difference if pinch-zoom is involved and it's on the main window. See https://bugzilla.mozilla.org/show_bug.cgi?id=1336346 which was closed in favor of the "support visual viewport pinch-zoom" bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1123938. But it seems

[2017-09-21 01:47] mdittmer commented on #166
That seems feasible. Something like [this](https://material.angularjs.org/latest/api/directive/mdVirtualRepeat) should do the trick.

[2017-09-21 01:49] karlcow commented on #165
My pull request https://github.com/GoogleChrome/confluence/pull/168 for https://github.com/webcompat/web-bugs/issues/10168

[2017-09-21 01:49] mdittmer commented on #167
IMHO we should drop the expand/collapse control and fix #166 with the same change.

[2017-09-21 04:12] bzbarsky commented on #165
For what it's worth, the real difference is that the `<div class="content ng-scope">` child of the `<ui-view class="ng-scope">` child of `<main>` is tall enough for its kids in Gecko (hence doesn't scroll, but you get overflow higher up the tree which is hidden due to the "overflow:hidden" bits), but is NOT tall enough for its kids in Blink (and hence gets a scrollbar).

//cc @dholbert

[2017-09-21 04:15] bzbarsky commented on #160
In Firefox, that last scrollable container is tall enough for all its content (and overflowing its parents, but they hide overflow), so doesn't get a scrollbar.

Both Firefox and Edge support unprefixed flex.

See also #165.

[2017-09-21 04:17] bzbarsky commented on #165
There's a good chance (per mail from @dholbert, but without having fully investigated) that this page is depending on a longstanding bug in Chrome implementation of flexbox.  See https://bugs.chromium.org/p/chromium/issues/detail?id=487302

[2017-09-21 04:18] bzbarsky commented on #160
Is it possible that this markup is depending on https://bugs.chromium.org/p/chromium/issues/detail?id=487302 to work?

[2017-09-21 04:30] bzbarsky opened #169 "failure to ship description makes no sense"
The blurb below the graph says:

There must be some negations missing somewhere in there, but I'm not quite sure where.

[2017-09-21 04:34] bzbarsky opened #170 "failure to ship datapoints do not have a useful link to the actual data"
If I click a "failure to ship" graph datapoint and try to look at what APIs are claimed to be represented by that datapoint, I get an empty list.

If I click "expand all", the list stays empty.  After some more random clicking, I can sometimes get data.

[2017-09-21 04:38] karlcow commented on #160
See also https://github.com/webcompat/web-bugs/issues/10168

[2017-09-21 04:41] bzbarsky opened #171 "browser-specific APIs data seems to be fairly inaccurate"
For example, it claims that Firefox is shipping 869 browser-specific APIs.  Amongst those APIs it includes `CSSStyleDeclaration['border-width']`.  I can assure you that every single browser ships this.

This affects pretty much every non-single-word CSS property.

Similarly, the site claims that CSSStyleDeclaration.WebkitBorderImage is supported only by Firefox.   That just doesn't match reality.

[2017-09-21 07:06] othermaciej commented on #169
In context the term "Grace Period" is also weird and doesn't fit the description. Here's a suggested rewording.

Instead of this:

How about something like this:

[2017-09-21 07:08] othermaciej commented on #170
I think this is a performance problem, not functional. But sometimes it takes a very long time.

[2017-09-21 07:20] othermaciej opened #172 "When looking at "failure to ship" data for old versions of Safari, it claims the APIs are missing in all versions of Safari"
I'm not sure how to explain this more concisely. When following the "failure to ship" link for an old Safari version, such as Safari 7.1, it claims all APIs that are missing in Safari 7.1 are also missing in Safari 10. But when following a Safari 10 link, those same APIs do not show as missing.

Concrete example. When I follow this link (from a 7.1 Failure to Ship data point) and add Safari 10.1 m

[2017-09-21 07:22] othermaciej opened #173 "Data claims that many APIs are missing in Safari 8.0, 7.1 and older which obviously are not missing"
Data claims that many APIs are missing in Safari 8.0, 7.1 and older which obviously are not missing. For example, this claims that essentially all properties of CSSStyleDeclaration are missing. Safari 8.0 would have been wildly broken on many websites if this was actually true. Probably a problem with the testing methodology.

There seem to be many other errors but it is really time consuming to m

[2017-09-21 12:33] mdittmer commented on #169
Thanks for the suggestions!

The missing piece here is that APIs are listed iff the browser being measured did not ship the API in *all releases* that were released during the Grace Period. @othermaciej do you think omitting that detail in favour of a simpler definition is worth it? @foolip WDYT?

[2017-09-21 12:38] mdittmer commented on #173
We have a hack that copies `CSS2Properties` in Firefox into `CSSStyleDeclaration`. I still need to dig into the data, but it wouldn't surprise me if "layering of differently named prototypes" is to blame for this, and perhaps other issues.

*Aside*: @othermaciej do you think it would be useful for us to invest in a CLI tool that supports querying the raw object graph data and the `<interface>.<API

[2017-09-21 12:42] mdittmer commented on #172
This needs urgent fixing! We keep getting issues that all stem from #127. The `releaseOptions` and `numAvailable` parameters in the URL provide an (admittedly hacky) way to show exactly the right APIs for a data point **so long as you don't add or remove releases**.

Short term fix: We need to update the view controller for data-point-based views to prevent adding and removing releases.

Long term

[2017-09-21 12:43] mdittmer commented on #172
I'm closing this as a special case of #127.

[2017-09-21 12:43] #172 closed

[2017-09-21 12:47] mdittmer commented on #170
Some of these data points pull data from a large number of browsers. We have some ideas in the works for compressing the data model (which is, atm, a little verbose), but launching that change will take time.

If you're not seeing the little progress bar above the data table while you wait for data, that's a bug that can probably be fixed more quickly (but you'll still have to wait a while for the

[2017-09-21 12:49] mdittmer commented on #160
@bzbarsky that's entirely possible. Is there a corresponding bug for WebKit? Safari renders scrolling "correctly".

[2017-09-21 13:09] mdittmer commented on #160
Closing this as conversation has moved to #165

[2017-09-21 13:09] #160 closed

[2017-09-21 13:11] mdittmer commented on #163
We grab some data from instances by walking the object graph from `window`, and copying instance data to its prototype API. Obviously, this misses lots of potential "instance-only" cases such as `ArrayBuffer`

[2017-09-21 13:13] mdittmer commented on #173
We are trying to document things like `CSS2Properties` => `CSSStyleDeclaration` with [this label](https://github.com/GoogleChrome/confluence/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22data%20hack%22)

[2017-09-21 13:19] foolip commented on #173
I don't think I'd use a CLI, that would be more work to learn about than using the browser directly to try and understand the issue as in https://github.com/GoogleChrome/confluence/issues/163#issuecomment-331001405.

[2017-09-21 13:22] foolip commented on #170
@mdittmer, maybe add a toast that says to hold on after a few seconds of loading?

[2017-09-21 13:55] foolip commented on #78
@bzbarsky FYI. In addition to this there's some mangling of the prototype's own properties and instance's own properties, but only if we happen to find an instance. This makes for some confusion in the case of Event's isTrusted, which is on instances only.

[2017-09-21 14:05] mdittmer opened #174 "Data are misleading on CSSStyleDeclaration's dash-separated properties"
After doing some investigations [this view](http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Firefox_55.0_Windows_10.0%22,%22Firefox_54.0_Windows_10.0%22,%22Firefox_53.0_Windows_10.0%22,%22Firefox_52.0_Windows_10.0%22,%22Firefox_51.0_Windows_10.0%22,%22Firefox_50.0_Windows_10.0%22,%22Firefox_49.0_Windows_10.0%22,%22Firefox_48.0_Windows_10.0%22,%22Chrome_60.0.3112.78_Windows_10.0%22,%

[2017-09-21 14:06] mdittmer commented on #173
Tracking `CSSStyleDeclaration` issue (which affects all browsers) as #174. @othermaciej are there other examples we should investigate?

[2017-09-21 14:07] mdittmer commented on #171
Tracking this issue at #174 where I posted a bunch of details about why our methods deal poorly with dash-separated `CSSStyleDeclaration` properties.

[2017-09-21 14:07] #171 closed

[2017-09-21 14:09] mdittmer commented on #174
Follow-up: One of the key reasons that it seems "fairer" to remove these data is that the effect is to inflate Firefox's Browser-Specific count when Firefox is, arguably, doing "The Right Thing" by providing correctly reflecting these properties.

[2017-09-21 15:11] foolip commented on #174
This is a all a bit odd, and @bzbarsky has kindly explained it to me in https://github.com/w3c/csswg-drafts/issues/1089 before.

The spec is here:
https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-camel-cased-attribute
https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-webkit-cased-attribute
https://drafts.csswg.org/cssom/#dom-cssstyledeclaration-dashed-attribute

The IDL blocks are rig

[2017-09-21 15:16] foolip commented on #167
That SGTM.

[2017-09-21 15:26] foolip commented on #163
Yep, let's get Safari 11 data in https://github.com/GoogleChrome/confluence/issues/162, going through lists of issues that have already been fixed is no fun for anyone.

For "byteLength" and other cases of prototype vs. instance, it's definitely not something that is likely to cause real problems, but it is an actual difference, and if it's not skewing the data in huge ways (like https://github.co

[2017-09-21 17:36] arronei opened #175 "Doesn't scroll in Edge"
It seems like the API Catalog does not scroll in Edge either. It looks similar to issue #165. It might be related or a duplicate but calling this issue out separate for now.

[2017-09-21 18:01] othermaciej commented on #169
@mdittmer Let me see if I understand what you're saying. Let's use this example:

- FunBrowser 3.0 ships on June 6, 2012. It include support for the Foo.bar() API.
- FunBrowser 4.0 ships on July 6, 2012. Support for the Foo.bar() API has been removed.
- All other browsers have shipped the API for the whole period starting July 6, 2011.

Under the definition you describe, it sounds like FunBrowser

[2017-09-21 18:07] othermaciej commented on #170
I didn't get that the subtly pulsing blue bar is supposed to be a progress bar (assuming that's what it is). It's not very obvious.

[2017-09-21 18:10] othermaciej commented on #173
I don't think this CSSStyleDeclaration issue is the same as #174. The properties that it claims are missing are not the dash-separated versions, they are the camelCase versions. As far as other stuff to investigate, I am not sure. I don't have a good way to test old Safari versions, and even for the latest Safari, the best I can do is make a test case by hand.

[2017-09-21 18:14] othermaciej commented on #163
@foolip I think it would be helpful to track minor differences in how a property is exposed, but perhaps separately from whether it is present at all. I say this from the point of view of prioritizing implementation tasks. If we're missing a property that all other browsers have entirely, that's a much bigger deal than whether it is exposed via all the same introspection methods. In the case of Ar

[2017-09-21 18:39] dholbert commented on #165
Indeed. See explanation in https://github.com/webcompat/web-bugs/issues/10168#issuecomment-331241775

Bottom-line, you need to add `min-height:0` for the elements `main`, `ui-view`, and `.tab-content` or else the flexbox spec says they can't be any smaller than their content height (which is quite tall).

[2017-09-21 19:36] #165 closed

[2017-09-21 19:43] mdittmer commented on #175
Fixed by #176

[2017-09-21 19:43] #175 closed

[2017-09-21 20:02] mdittmer commented on #162
I tried installing the latest Safari Technology Preview for MacOS 10.12.6, but I got this:

[code]

😿

[2017-09-21 20:07] cdumez commented on #162
Did you use https://secure-appldnld.apple.com/STP/091-33444-20170919-603056FA-9D74-11E7-929D-F7CEFCD6B433/SafariTechnologyPreview.dmg ? You may be using the High Sierra STP build on Sierra.

[2017-09-21 20:08] cdumez commented on #162
Got this link from:
https://developer.apple.com/safari/download/

"Safari Technology Preview for macOS Sierra" link since you're using 10.12, not 10.13.

[2017-09-21 20:11] cdumez commented on #162
Also note that this bug is about Safari 11, not Safari Technology Preview. To get Safari 11, you would need to upgrade to MacOS 10.13 "High Sierra".

[2017-09-21 20:20] mdittmer commented on #162
I did follow the "Sierra", not "High Sierra" link from https://developer.apple.com/safari/download/, and I am running Sierra. Am I doing something wrong? Do I need to update some libraries (XCode perhaps?)

[2017-09-21 20:23] cdumez commented on #162
@mdittmer Ok, then I do not know what the problem is, sorry.

[2017-09-21 20:30] cdumez commented on #162
@mdittmer I pinged some people about this internally. Will follow-up when they come back to me.

[2017-09-21 20:42] cdumez commented on #162
@mdittmer This is apparently a known issue :/ Updating Xcode / SDK *should* work. You can also try again with the next STP (41).

[2017-09-21 23:07] othermaciej commented on #162
Note that the current STP has a significantly newer WebKit than Safari 11. Having STP data would be kind of neat but it's not a good substitute for Safari 11.

[2017-09-21 23:14] mdittmer commented on #162
Was Safari 11 released for MacOS 10.12.6 or do I need to get my hands on a machine with High Sierra to try Safari 11? My experience with official releases has been that I only get them when Apple decides to push an update to my machine (i.e., for my OS version).

[2017-09-21 23:28] othermaciej commented on #162
According to rumor sites, macOS 10.3 High Sierra will be available on September 25. We usually ship major Safari versions to previous major OS versions. In the meantime, the best option to get a very close approximation of Safari 11 is to install a High Sierra public beta.

This page claims to point to a Safari 11 beta for macOS Sierra or OS X El Capitan, but I was unable to get an actual download

[2017-09-21 23:52] othermaciej commented on #162
Correction: Safari 11 has already shipped for Sierra and El Capitan. You can update to it via the Mac App Store app in the Updates tab.

[2017-09-22 00:53] jpmedley opened #177 "Need a Way to Remove All Releases"
I need to regularly compare only Chrome for consecutive releases. To do this I need to first remove nearly everything that's shown by default. If I could just "remove all" and add back the one's I need it would be much faster.

I do this because I'm primarily responsible for [documenting new Chrome APIs on MDN](https://developer.mozilla.org/en-US/dashboards/revisions?user=jpmedley). I run the resu

[2017-09-22 01:53] mdittmer commented on #162
Thanks for looking into it. Not sure why it isn't listed as an update for me. I'll try a different machine.

[2017-09-22 07:28] foolip opened #178 "Idea: have a standardization status (bool) for each API"
@mdittmer, by scraping all IDL and also CSS specs, we should be able to attribute almost all APIs to some spec, and make standardization status part of the model. A useful metric we could create with this is a per-browser "non-standard APIs" metric.

It would also be useful for "failure to ship", "aggressive removal" and "browser-specific APIs", to differentiate between the two classes. In particu

[2017-09-22 12:26] foolip commented on #178
https://github.com/GoogleChrome/webidl-diff has some relevance to this, of course.

[2017-09-22 12:45] mdittmer commented on #174
This seems fine. Should we drop dash-separated across the board, or just in `CSSStyleDeclaration`?

[2017-09-22 12:50] foolip commented on #174
Just in `CSSStyleDeclaration` I think, I don't think they exist anywhere else but one might be surprised.

[2017-09-22 12:51] foolip commented on #174
(I assume this can be done without collecting the data anew.)

[2017-09-22 12:53] mdittmer commented on #174
@foolip are there browser bugs we can link to here, or just specs?

[2017-09-22 13:00] foolip commented on #174
The Chromium bug is https://bugs.chromium.org/p/chromium/issues/detail?id=700338, I haven't filed one for Edge or WebKit.

@travisleithead @cdumez, maybe you can file bugs for Edge and WebKit?

[2017-09-22 13:07] foolip commented on #163
@othermaciej, I agree, from a prioritization point of view it doesn't make sense to treat instance-vs-prototype problems the same as entirely missing API surface, let's try to work something out here.

@mdittmer, is there a generic bug about making sure we find instances for more interfaces? I think one very basic thing we could do after the graph traversal is done would be to try to invoke everyt

[2017-09-22 13:15] foolip commented on #173
@mdittmer, you tested a bit in BrowserStack, what did you conclude? From a quick look in Safari 8, I see that `Object.getOwnPropertyNames(document.body.style)` returns about what I would expect, lots of camelCase names that don't show up in the API catalog. So there is a bug here, adding labels to put it on the roadmap.

[2017-09-22 13:16] bzbarsky commented on #165
I assume the title meant to say "or Edge"...

[2017-09-22 13:24] foolip commented on #169
Keeping the existing definition, I think what @othermaciej makes sense. I think the distinguishing feature compared to "aggressive removal" is that "failure to ship" is something that this browser never had.

I also wonder if this would be simpler to understand and explain if only the releases at the beginning and end of the grace period matter. There could be a flip-flop in between, but ignoring

[2017-09-22 13:27] bzbarsky commented on #174
At the expense of marking as non-browser-specific things that really are browser-specific in Chrome and Safari, no?

[2017-09-22 13:28] mdittmer commented on #177
Thanks for the feature request! This shouldn't be too hard to implement; I'll just want to double check that the table controller doesn't break when the collection of releases is empty.

[2017-09-22 13:30] mdittmer commented on #174
@bzbarsky that's true. I'm not really in favour of dropping the prefixed APIs. They are "punishing" browsers for doing not-spec'd things (rather than the other way around with the hyphenated APIs).

Keep in mind that since two browsers implement them, most webkit-prefixed APIs will not show up in browser-specific counts.

[2017-09-22 13:31] bzbarsky commented on #174
Except that some of the Webkit* bits are specced.

Fwiw, this is an explicit concern I know @dbaron has raised about the structure of these dashboards...

One other note: https://bugs.chromium.org/p/chromium/issues/detail?id=700338 is about making the relevant props be normal IDL props, but the failure here is due to the proxy involved lying about its set of own properties, no?  The latter could b

[2017-09-22 13:33] mdittmer opened #179 "Omit hyphenated CSSStyleDeclaration APIs"
As per discussion in #174 a post-processor for APIs has been added that filters out hyphenated CSSStyleDeclaration APIs. These APIs were "punishing Firefox for conforming to spec" (via Browser-Specific metric), which seems like the wrong thing to do.

[2017-09-22 13:34] mdittmer commented on #174
FYI: Keeping this bug for general discussion of CSSStyleDeclaration issues. Filed separate "data hack" bug to document what tooling does (or will soon do).

[2017-09-22 13:35] foolip commented on #174
@bzbarsky, `Object.getOwnPropertyNames(document.body.style).filter(x => x[0] == 'W')` is an empty array in both Chrome and Safari, so it currently wouldn't hide anything. But after CSSStyleDeclaration bugs are fixed they might show up, so I'm not sure what to make of that.

How about for CSSStyleDeclaration, if a property that starts with an upper case character also exists with the first characte

[2017-09-22 13:35] bzbarsky commented on #169
Please s/a each/each/ in the suggestions above.  ;)

[2017-09-22 13:37] mdittmer opened #180 "Some Safari release dates shifted slightly"
In general, Safari release dates reflect oldest "beyond mere security updates" release that matches the Safari version number.

However, tooling behaves more consistently when no two browser releases have the same release date. To deal with this, some release Safari release dates are bumped forward by one day (whichever release has the higher Safari version number gets the later release date).

[2017-09-22 13:39] mdittmer commented on #178
I like this idea. It sounds like this would involve Confluence consuming some data generated by WebIDL Diff, which is fine, but we're a ways away from deploying WebIDL Diff bots robust enough to open up their data.

[2017-09-22 13:39] bzbarsky commented on #174
Right.

Hmm.  I guess we can do this as an interim solution until browsers fix their `getOwnPropertyNames(CSSStyleDeclaration instance)` impls.

Another option might be is to generate a set of all possible strings that _could_ conceivably appear as properties on CSSStyleDeclaration in any browser and use hasOwnProperty in a loop instead of getOwnPropertyNames to build the list of actually supporte

[2017-09-22 13:40] foolip commented on #178
The IDL data API wouldn't need to be public, it could be based on one-off runs where the data is committed to some repo, for example.

[2017-09-22 13:43] foolip commented on #174
Yes, this is a problem, and I was surprised at how "good" Chrome/Safari looked in "browser-specific APIs" before realizing why. It also creates an unfortunate situation in "failure to ship" for Firefox where there's a lot of non-standard stuff, the kind of thing I like trying to remove. And if Firefox should want to implement them, the onus should ideally be on everyone else to write the spec and

[2017-09-22 13:44] foolip commented on #174
@mdittmer, on this issue specifically, which approach do you think is the best, taking into account the value of getting this fixed quickly?

[2017-09-22 13:52] foolip commented on #126
@mdittmer, should this be closed now?

[2017-09-22 13:55] foolip commented on #179
Maybe as a safety, also check that the equivalent camelCase thing exists, and otherwise keep it?

[2017-09-22 13:56] foolip commented on #165
Fixed the title, thanks!

[2017-09-22 13:56] bzbarsky commented on #174
That would be pretty awesome.

[2017-09-22 13:58] foolip commented on #162
@mdittmer, if you're using a Google-issues MacBook it's possible updates are held back to provide for some kind of controlled rollout, at least for full OS upgrades that seems to happen. I also don't have the option to upgrade to Safari 11 yet, on macOS Sierra.

[2017-09-22 14:05] bzbarsky commented on #160
I don't know what the status of this stuff in WebKit is, sorry.  Maybe @dholbert does.

[2017-09-22 16:39] bzbarsky commented on #170
Oh.  I hadn't even noticed its existence.

I think a much more obvious progress indicator is in order if the primary UI is still being loaded. ;)

[2017-09-22 16:49] bzbarsky commented on #78
The problem is that the spec for CSSStyleDeclaration + CSSFontFaceRule is somewhere between "silly" and "not web compatible".  See https://github.com/w3c/csswg-drafts/issues/825 and https://github.com/w3c/csswg-drafts/issues/1692

This is why the issue is not "a high priority" for the Firefox team: there is no solution presently suggested that actually solves the issue.

I should also note that as

[2017-09-22 16:59] bzbarsky opened #181 "Links to failure lists don't work in Firefox"
STEPS TO REPRODUCE (in Firefox):

1. Load https://web-confluence.appspot.com/#!/confluence
2. Click "FAILURE TO SHIP".
3. Select any data point (the first data point at the "550" level for Safari, aka Safari 8.0, will do).
4. Click the little box-with-arrow after the number in the resulting popup.

EXPECTED RESULTS: Opens the actual list of things failing to ship in a new tab.  That's what it does

[2017-09-22 17:05] bzbarsky commented on #181
I _think_ this ends up calling https://github.com/GoogleChrome/confluence/blob/6677a3eb49604580866cd7aa95b26ba63b44cb50/lib/chart/browser_metric_chart.es6.js#L33-L35 which calls https://github.com/GoogleChrome/confluence/blob/6677a3eb49604580866cd7aa95b26ba63b44cb50/lib/chart/browser_metric_chart.es6.js#L9-L11 but I'm not sure yet where that createNewView ends up being implemented in the end.

[2017-09-22 17:06] dholbert commented on #160
No, I don't think there is a WebKit version of the bug. Back when I filed https://bugs.chromium.org/p/chromium/issues/detail?id=487302, I suspect WebKit didn't have the magic `min-width:auto` behavior implemented yet (but I'm not sure).

[2017-09-22 17:13] mdittmer commented on #78
implemented via proxy behavior in non-Firefox browsers, right?

If by proxy behaviour is meant provide attributes that belong to the
interface on all instances, but not the prototype, then yes.

[2017-09-22 19:49] mdittmer commented on #181
This is caused by using a synthetic `<a>.click()`. "Download CSV" is probably also affected. I'm half-done a fix, but probably can't land it until early next week.

[2017-09-22 20:10] bzbarsky commented on #181
Is the anchor not in a document?  Looks like until 8 hours ago https://github.com/whatwg/html/issues/2615 was open with discussion of what the actual behavior should be....

[2017-09-22 21:04] othermaciej commented on #170
I didn't notice it at all either until someone claimed in this issue that there was a progress bar. Without having seen this issue, I'd probably still be unaware of it.

[2017-09-22 21:32] foolip commented on #170
Added the roadmap label to this. @mdittmer, what do you think is the most productive way to fix this, by improving the load time or making the loading more obvious? Will there always be some cases that take >1s to load?

[2017-09-22 21:51] bzbarsky commented on #170
For what it's worth, 1s would be pretty awesome.  Right now I get a 5-10s lag after clicking "expand all" before anything shows up.  And I'm on a reasonably fast (50Mbit) connection.

[2017-09-22 22:18] foolip commented on #170
Yep. I think it should be possible from a raw data volume point of view, because there are about 6000 APIs, so once the list of API names is known, it should be about 750 bytes of data per browser uncompressed.

[2017-09-23 00:02] RByers commented on #126
What we have now addresses my concern.  Thanks!

[2017-09-23 00:02] #126 closed

[2017-09-23 23:06] mdittmer commented on #170
My thoughts are:

ASAP, add spinner in addition to progress bar. Progress bar will be the
only thing visible when data is rendered but being updated (e.g., fetching
an unfetched release's data).

On the roadmap: compress data model and make it feasible to have all data
loaded in a format that is much closer to the view's way of presenting it.

[2017-09-25 08:38] foolip opened #183 "Manually audit some differences to shake out further issues with methodology or bugs"
After the currently known issues with the data are fixed, it's still likely that some problems remain. To help discover if there are any more big categories, we should manually verify some differences that are claimed by the tool.

Ideas:

For each browser:
- Pick a random release (not the first)
- Enumerate all differences to the previous release.
- Verify all of them, or a random selection of 10

[2017-09-25 17:07] #181 closed

[2017-09-25 17:39] bzbarsky commented on #181
Thank you!

[2017-09-25 19:01] foolip opened #195 "Order of releases in "New APIs" is backwards"
http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Safari_11.0_OSX_10.12.6%22,%22Safari_10.1.2_OSX_10.12.6%22%5D&releaseOptions=%7B%22Safari_11.0_OSX_10.12.6%22:true,%22Safari_10.1.2_OSX_10.12.6%22:false%7D&numAvailable=null&currentPage=0&gap=5&itemPerPage=15&searchKey=%22%22 is the "New APIs" link from the velocity graph for Safari 11. The two versions are listed in reverse order, whi

[2017-09-25 19:03] mdittmer opened #196 "Test or refactor import scripts in main"
The journaling and Datastore input scripts contain too much code to get a pass for being under `main/` instead of `lib/`. Either they need to be tested directly, or, more likely, put the logic into components under `lib/` and test those.

[2017-09-25 19:18] RByers opened #197 "Missing chrome.runtime"
Chrome has a bunch of non-standard APIs exposed off of `chrome.runtime`.  I [see](http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Safari_11.0_OSX_10.12.6%22,%22Chrome_61.0.3163.79_Windows_10.0%22,%22Firefox_55.0_Windows_10.0%22,%22Edge_15.15063_Windows_10.0%22%5D&releaseOptions=null&numAvailable=null&currentPage=0&gap=5&itemPerPage=15&searchKey=%22chrome%22) the other properties on

[2017-09-25 19:20] RByers commented on #197
BTW I appreciate that there's probably no good way to count each of the different methods on `runtime` as their own API (since `runtime` doesn't appear to be an instance of some interface).  That's not ideal but fine for the purposes of this issue.

[2017-09-26 11:05] foolip commented on #162
I've audited Safari 11 removals from a preview, and almost all changes make sense and could be tracked down to recent WebKit changes, often by @cdumez.

The only one that does not make sense is Navigator.hardwareConcurrency, which the data claims is removed but is still listed in https://webkit.org/status/#feature-navigator.hardwareconcurrency

@mdittmer, can you check if it's really removed?

[2017-09-26 11:09] foolip commented on #162
I've also gone over the additions, and they all make sense, notable additions are WebRTC (yay @youennf) and WebGL, a really impressive set of new features I have to say.

@mdittmer, other than hardwareConcurrency, I think the changes for Safari 11 are probably correct.

[2017-09-26 12:25] mdittmer commented on #121
I found (at least one) source of the issue. Safari < 6.2 does not expose all property names via `Object.getOwnPropertyNames(window)` or via `for (propertyName in window)`. (E.g., Safari 5.1: `Object.getOwnPropertyNames(window)` is 51, including 2 things added by our data collection environment). Hence, unless we know what we're looking for and directly access each "suspected interface" on window,

[2017-09-26 12:51] foolip opened #199 "Include symbols from Object.getOwnPropertySymbols()"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertySymbols

Symbols are an integral part of some APIs, and we should expose them somehow.

[2017-09-26 14:14] RByers opened #200 "Find more instances in object graph walk"
To find `[NoInterfaceObject]` interfaces and properties that occur on instances instead of prototypes (eg. `CSSStyleDeclaration`), we must discover some instances.  For now we do some sort of limited walk from `window`, but IIRC it's not a full recursive walk.  Even if it was, there are still interesting instances we couldn't find without invoking some methods.

As foolip mentions in https://githu

[2017-09-26 14:20] mdittmer commented on #163
@othermaciej here are some updates on the APIs originally identified. This is with respect to new data recently pushed from Safari 11:

ArrayBuffer.byteLength -- marked as shipped on Safari 11, but not Safari < 11; I suspect this is related to the fact that we do not instantiate an ArrayBuffer and check its properties; Rick has filed #200 regarding additional data collection from instances
CSSStyl

[2017-09-26 14:53] RByers opened #201 "Aliased webkit-prefixed CSS properties are missing in Chrome"
In Chrome, CSS properties which are aliases (alias_for in [CSSProperties.json5](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/css/CSSProperties.json5?q=CSSProperties.json5&sq=package:chromium&dr)) of other properties don't show up when enumerating the properties of a `CSSStyleDeclaration` instances, but they're actually still there:

[code]

This makes some CSS properties app

[2017-09-26 15:07] foolip commented on #178
This would be some work, and we need some idea of how impactful it would be to have a "non-standard APIs" section. @bzbarsky @othermaciej, WDYT?

@RByers, who at Microsoft should we ask?

I think the stuff that's on the table is:
- Fixing known issues with the data (top prio)
- Making it faster, auto-updating and more user friendly (code health / product excellence)
- Adding or removing metrics/fe

[2017-09-26 15:12] RByers commented on #163
Note that `DOMException` is a Safari bug which appears fixed in the latest WebKit nightly, perhaps as a side effect of @cdumez's [recent change](https://trac.webkit.org/browser/webkit/trunk/Source/WebCore/dom/DOMException.idl?rev=219730).  We can hack around the bug with #200, but given that it's fixed in WebKit trunk I'm not sure it's worth it.

[2017-09-26 15:22] RByers commented on #163
`cssFloat` is really weird - appears to be a [bug in WebKit](https://bugs.webkit.org/show_bug.cgi?id=177487).  We could add a hack specific to discovering that this property exists despite being entirely hidden from all enumeration, but should we?

[2017-09-26 16:35] cdumez commented on #163
I made DOMException spec-compliant via:
- https://trac.webkit.org/changeset/219607/webkit
- https://trac.webkit.org/changeset/219663/webkit

This is indeed fairly recent.

[2017-09-26 17:39] RByers opened #202 "RegExp static members missing in Safari"
On Safari 11 (not this is `RegExp` not `RegExp.prototype`):
[code]

But confluence shows (at least) `lastMatch`, `lastParen`, `leftContext`, and `rightContext` as missing from Safari.  Why?

[2017-09-26 17:47] RByers commented on #202
As far as I can see, these APIs are exposed basically the same on Chrome and Safari.  I think understanding why this difference exists is urgent (to understand the extent of the problem), though fixing it may not be if it's confined to just a few properties.

[2017-09-26 17:49] RByers opened #203 "$ stripped from property names?"
`RegExp` has property names like `$+` and `$&`, but they show up in confluence either not at all (`$+`) or without the `$` (`$&`).

[2017-09-26 17:50] RByers commented on #163
@cdumez, thanks!  I missed those changes since I was looking only at `DOMException.idl` history.

[2017-09-26 17:57] RByers commented on #163
@mdittmer has now fixed a number of issues here.  I've done a pass through the latest [Safari 11 failure to ship APIs](http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Safari_11.0_OSX_10.12.6%22,%22Safari_10.1.2_OSX_10.12.6%22,%22Safari_5.1.9_OSX_10.6.8%22,%22Safari_6.0.5_OSX_10.7.5%22,%22Safari_6.2.8_OSX_10.8.5%22,%22Safari_7.1.8_OSX_10.9.5%22,%22Safari_8.0.8_OSX_10.10.5%22,%22Safar

[2017-09-26 18:01] othermaciej commented on #162
hardwareConcurrency was genuinely removed per https://bugs.webkit.org/show_bug.cgi?id=174400

[2017-09-26 18:01] othermaciej commented on #162
(We need to update the feature status page I guess)

[2017-09-26 18:07] othermaciej commented on #178
If an API is in all or almost all browsers, does it matter if it's not standard? Any API in 3 of 4 browsers that happens to not be standardized is likely to be a standards bug as well as a but in the 1 remaining browser.

Maybe it would be easier to think through this with concrete examples of non-standard APIs where a browser is being dinged for "failure to ship".

One possible exception is cases

[2017-09-26 18:14] RByers commented on #201
I filed a [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=768917) to discuss what should be done there, but I think that's probably orthogonal (best case, it'll be awhile before Chrome and Safari ship with these exposed, and there's enough properties impacted that I think hacking around it makes sense).

[2017-09-26 18:17] RByers commented on #199
@foolip how many APIs do you expect this impacts?  IIRC it's rather rare, so probably not very urgent to account for, right?

[2017-09-26 18:23] othermaciej opened #204 "A bunch of incorrect aggressive removal listed for Safari 9.1.3 only"
I don't think any of the APIs below were actually removed in Safari 9.1.3, and the catalog seems to be aware that they were present both before and after.

https://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Safari_9.1.3_OSX_10.11.6%22,%22Safari_8.0.8_OSX_10.10.5%22,%22Safari_7.1.8_OSX_10.9.5%22,%22Safari_6.2.8_OSX_10.8.5%22,%22Safari_6.0.5_OSX_10.7.5%22,%22Safari_5.1.9_OSX_10.6.8%22,%

[2017-09-26 18:26] othermaciej commented on #162
From spot-checking the list of claimed "failure to ship" for Safari 11, I don't see anything obviously wrong, but I didn't do any testing or study of the code to confirm (yet).

[2017-09-26 18:38] RByers commented on #163
In https://github.com/GoogleChrome/confluence/issues/162#issuecomment-332291147 @othermaciej says:

So let's consider this bug fixed and file new bugs for anything else we discover.

[2017-09-26 18:38] #163 closed

[2017-09-26 18:39] RByers commented on #162
Great!  I've also done a pass over the Safari 11 failure to ship and found just a couple issues (see https://github.com/GoogleChrome/confluence/issues/163#issuecomment-332282297).  Let's call this done and open new bugs for anything else we discover.

[2017-09-26 18:39] #162 closed

[2017-09-26 18:45] RByers commented on #204
@mdittmer Maybe there's some stale data from a previous crawl there still?  I checked a couple and the API catalog does show them present in 8 and 10 but not 9 (eg. `CustomEvent.detail` and `window.indexedDB`).

Looks like just a few and the history isn't as important as the current state, so dropping urgent label.

[2017-09-26 18:51] RByers commented on #169
I'd argue that at least fixing the description to be approximately correct ("each browser *doesn't*
provide" instead of "each browser provides") is urgent.  With that tiny tweak it at least makes sense.

[2017-09-26 18:53] RByers commented on #164
Assuming this is trivial, let's call it urgent.  I'm worried that it makes Chrome look better than it is - that's the kind of bias that could make us look bad and hurt people's confidence in the impartiality of this data.

[2017-09-26 19:08] RByers commented on #204
Poking at Safari 10.1.2 I see that properties which are supposed to be on `WebGLRenderingContext.prototype` are actually on an ancestor prototype which isn't exposed on window (`WebGLRenderingContextBasePrototype`).  But I don't see that interface listed in the catalog either.

@mdittmer we walk the whole prototype chain of interface objects we find, right?  Shouldn't we still find these propertie

[2017-09-26 19:22] RByers opened #205 "Bad data for Chrome 53?"
There's four different versions of Chrome 53 in the data set, and at least one (53.0.2785.89) seems to be [missing a lot of properties](http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Chrome_53.0.2785.113_Windows_10.0%22,%22Chrome_53.0.2785.89_Windows_10.0%22%5D&releaseOptions=%7B%22Chrome_53.0.2785.113_Windows_10.0%22:true,%22Chrome_53.0.2785.89_Windows_10.0%22:false%7D&numAvailabl

[2017-09-26 20:26] mdittmer commented on #204
I'm seeing the same thing. Everything other than `WebGLRenderingContext` APIs are indeed not present in Safari 9.1.

I still need to dig into the code, but my guess is that since `window.WebGLRenderingContext.prototype.__proto__` is not exposed on `window`, the code doesn't know what API to add it to. Of course, this can be fixed. If we find that the shortest path from `window` to `window.Foo(.__p

[2017-09-26 20:29] mdittmer commented on #203
Those are being stripped because they were added to some property names used by the object graph visitor implementation. We should make our code more strict and only omit names that are actually special implementation details.

[2017-09-26 22:26] othermaciej commented on #204
It seems a priori really unlikely that a property would be present in Safari 8.0.8, missing in Safari 9.1.3 and present in Safari 10.1.2. This is also the only Aggressive Removal claimed for any version of Safari. Like, it's possible than 9.1.3 accidentally dropped a lot of APIs but it seems pretty unlikely. I am really skeptical any of these are real, and I wonder how you tested.

[2017-09-26 22:46] RByers commented on #204
Using BrowserStack to poke at Safari 9.1.3 I see there's definitely something weird going on with property enumeration:
[code]

So this looks similar to #201 where properties exist but don't show up with `getOwnPropertyNames`.  @cdumez, sound familiar by any chance?

[2017-09-26 22:50] cdumez commented on #204
Object.getOwnPropertyNames(window).indexOf('indexedDB') returns a valid value (i.e. not -1) in Safari 11.

[2017-09-26 22:57] RByers commented on #204
Yes, it's fine now - just seemed broken in Safari 9 only.

[2017-09-26 23:20] foolip commented on #199
I don't know actually know what symbols are, just that there's some connection to toStringTag:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/toStringTag

This isn't urgent, it's backlog.

[2017-09-26 23:33] foolip commented on #178
@othermaciej, webkit-prefixed APIs implemented by Edge but not standardized are my main concern, as they'd show up on Firefox's "failure to ship". Currently listed are 5 APIs on CSSStyleDeclaration, lots that have to do with fullscreen, webkitCancelAnimationFrame/webkitRequestAnimationFrame, WebKitCSSMatrix.* and webkitURL.*.

Note that the two latter are standardized already:
https://drafts.fxtf.

[2017-09-27 00:21] RByers commented on #178
@patrickkettner drives interop efforts at Microsoft and may have input here.

I agree with @othermaciej that, strictly from a metrics perspective, standardization status doesn't really matter - we're just trying to measure interoperability here.  That's why (unlike the Edge API catalog this was modeled after, standardization status was not a priority for us).

But when I use this data to try to dr

[2017-09-27 00:49] othermaciej commented on #204
It's totally possible that Object.getOwnPropertyNames had a bug in some Safari 9.x versions but that's pretty far back. Regardless, it doesn't seem helpful to interpret this bug as aggressive removal of a bunch of APIs.

[2017-09-27 00:56] RByers commented on #204
I agree it's not helpful, but it's pretty hard to do anything else.  Unless I'm missing something, there's no good generic way for us to discover that these APIs exist without `getOwnPropertyNames` working.

I suppose we could generate a list of candidate APIs (based on what we found in other browsers) and try explicitly probing for each of them rather than relying solely on enumeration.  But I th

[2017-09-27 01:00] RByers commented on #204
Another option is to hack around this for `WebGLRenderingContext` only - that seems to be the main one affecting the graphs.  In that case it does seem like we should be able to discover the properties on the ancestor prototype (`WebGLRenderingContext` does show up in `Object.getOwnPropertyNames(window)`) and copy them down to the right interface.  Understanding why that isn't already working is p

[2017-09-27 01:09] othermaciej commented on #204
I don't understand the testing approach very well. I would imagine that before claiming something is removed in a release, you could have a double-check test pass that directly checks for its presence regardless of enumeration mechanisms.

This issue makes the Safari aggressive removal graph look weird and bogus. Especially so because there are multiple 9.1.3 data points. So it looks like there wa

[2017-09-27 01:15] RByers commented on #204
Yeah, I agree it's not ideal.  As I understand it, the current architecture is split into three steps:
1. For each browser/version/OS, collect a JS object graph dump from the device and save it to cloud storage (this is the time consuming and sometimes unreliable part and so done offline somewhat manually)
2. For each browser/version/OS, process the object graph dump into an API list (this is wher

[2017-09-27 01:17] othermaciej commented on #178
One possible way to represent this would be to have a a separate "failure to standardize" chart for all features that are in all but one browser but not in any standard.

[2017-09-27 14:37] mdittmer opened #210 "OG => API list transform: Do not trust somePrototype.constructor to identify interface"
Data collection needs to check `thePrototype.hasOwnProperty('constructor')` (via equivalent `object-graph-js` API).

Right now, the check for `thePrototype.constructor` in the Object Graph => API list transform walks the prototype chain. This is probably the wrong thing to do. We should only trust a prototype's constructor to correctly identify the interface when it is an own property.

[2017-09-27 14:37] mdittmer commented on #204
So the `WebGLRenderingContext` issue helped me discover a Safari 9.1 peculiarity, and an issue that is definitely a data collection bug.

1. **Not all constructors are constructors**

The source of the issues with `WebGLRenderingContext` is that its constructor is not a function: `typeof WebGLRenderingContext === WebGLRenderingContext instanceof Function === false`.

In order to capture this API a

[2017-09-27 14:47] foolip commented on #210
What does this mean? Do you mean the fact that there can exist a Foo.constructor where new Foo() works, and a Bar that inherits from Foo that isn't constructable?

[2017-09-27 15:00] mdittmer commented on #204
Further investigation has revealed that in Safari 6, 7, 8, `WebGLRenderingContext.prototype.constructor` does exist (without an extra level of indirection to `[...].__proto__` as in Safari 9.1). I think for these earlier releases we are hitting [this code path](https://github.com/GoogleChrome/confluence/blob/master/lib/web_catalog/api_extractor.es6.js#L513) intended for libraries such as `Math` or

[2017-09-27 16:42] foolip commented on #178
Yeah, I think that would be reasonable. Whatever the specifics, having the standardization status as part of confluence would be required, and I'm now cooling on this idea.

Perhaps, instead, we should survey all APIs that aren't in all browsers, write some hacky scripts to filter out the stuff we know is standardized, until we have a list of all the non-standard APIs. A one-off is probably enough

[2017-09-27 17:23] othermaciej commented on #178
Thinking about it more, any feature that's in *all* browsers but not in any standard is also a potential standards bug.

[2017-09-27 17:29] foolip commented on #178
Yes, that's definitely the case. I'm sure there are a few like that, but finding them isn't very high priority I'd argue. Sooner or later they will naturally come up if there's some interop problem, and if there isn't then we have more pressing interop issues to work on :)

[2017-09-27 17:33] foolip commented on #204
If it proves difficult to work around the getOwnPropertyNames issue in Safari 9.x, how would everyone feel about just omitting everything prior to Safari 10? Long time series would be nice, but the actionable stuff is all about what the state during the past year was.

[2017-09-28 10:32] foolip opened #211 "Collect data from both secure and non-secure contexts"
https://chromium-review.googlesource.com/c/chromium/src/+/647850 got me thinking about what will happen with the speech-related properties in confluence when that lands.

We should collect data from both secure and non-secure contexts, and somehow make it possible to see discrepancies.

[2017-09-28 10:34] foolip opened #212 "Collect data from all kinds of workers"
https://html.spec.whatwg.org/multipage/workers.html defined dedicated workers and shared workers
https://w3c.github.io/ServiceWorker/ defines service workers

We should collect data from at least these contexts, and somehow surface differences between browsers.

[2017-09-28 10:36] foolip commented on #211
Actually, https://chromium-review.googlesource.com/c/chromium/src/+/647850 isn't using [SecureContext], but some features do, so the question still stands :)

[2017-09-28 12:27] mdittmer commented on #204
We get less useful data for metrics that rely on "before the 1-year grace period" if we only have two Safari releases, though.

[2017-09-28 14:49] mdittmer commented on #210
What is meant is that when we observe an object, `o`, in the object graph, and we should only treat it as the prototype for the `Foo` API when `o.hasOwnProperty('constructor') && o.constructor === Foo`.

[code]

[2017-09-28 20:32] mdittmer commented on #204
The output files from `main/og_to_journal.es6.js` look like #217 will fix the `WebGLRenderingContext` case.

[2017-09-28 23:42] mdittmer commented on #202
`Object.getOwnPropertyDescriptor(RegExp, 'rightContext')`

On Safari `{value: "", writable: false, enumerable: true, configurable: false}`

On Chrome: `{enumerable: false, configurable: true, get: ƒ, set: ƒ}`

Our code that [excludes primitive constants](https://github.com/GoogleChrome/confluence/blob/master/lib/web_catalog/api_extractor.es6.js#L195) to avoid uninteresting bloat in the data does s

[2017-09-28 23:58] mdittmer commented on #173
In some cases, our graph walk never successfully visited any instances of `CSSStyleDeclaration` (`CSSStyleDeclaration.prototype` never appears on the prototype side of our `__proto__`-pointers data). This is very strange. I'll probably have to step through the code and see what happens when the graph visitor hits things like `document.body.style`.

[2017-09-30 09:50] foolip commented on #211
Is it non-secure contexts now?

[2017-09-30 10:47] foolip opened #218 "Redirect to HTTPS and enable HSTS"
Like https://github.com/w3c/wptdashboard/issues/128

[2017-10-03 13:56] bzbarsky commented on #178
I think having a list of non-standard APIs that all, or all but one, browsers implement would be quite helpful as a guide to potential standardization.

One issue, and this is an issue with this whole dashboard, is that only presence, not correctness or interoperability, are tested.  This incentivizes addition of broken implementations to appease the metric, much like html5test.com....  I can only

[2017-10-03 14:24] RByers commented on #202
Ah, I forgot about that constant elimination heuristic - thanks.  At some point we should document all these heuristics and the arguments behind them somewhere, I'm sure we'll keep wanting to revisit them.

I remember that there were a ton of properties like this including about 300 on `WebGLRenderingContext` like `VERTEX_ATTRIB_ARRAY_ENABLED`, along with the common constants like `Node.ELEMENT_NO

[2017-10-03 14:33] foolip commented on #178
@mdittmer, how much work would it be to generate such a list as a one-off with the confluence + IDL data and a pile of scripts?

Hopefully this list will not grow much in the future, so maybe generating it once is good enough.

Indeed. Just adding a standardization bit is not going to be enough to avoid this dynamic if people do start using it as a benchmark. Apart from such a bit, is there any ch

[2017-10-03 14:35] bzbarsky commented on #178
That might help.

Having titles that don't sound like a value judgement (e.g. not "failure to ship") might help too, maybe.

[2017-10-03 14:40] foolip commented on #178
@mdittmer, what were some other titles we considered? "Last to support"?

[2017-10-03 14:45] bzbarsky commented on #178
Just as much of a value judgement, fwiw.  I'm not sure what phrasing would work well there...

[2017-10-03 20:15] othermaciej commented on #178
I agree with using a less judgmental term though I have no specific suggestions. "Aggressive removal" is a bit judgmental as well.

[2017-10-03 22:16] foolip opened #219 "Rename the metrics to be as value-free as possible"
See https://github.com/GoogleChrome/confluence/issues/178#issuecomment-333861976 an onward.

Ideas:
 - API Velocity → API count
 - Failure to Ship → Lone non-support? (Terrible, other ideas?)
 - Aggressive Removal → Lone removal
 - Browser-Specific: already OK?

To make it sounds more try, we could also use say "property" instead of API, which is technically accurate even for methods.

@bzbarsky @

[2017-10-03 22:19] foolip commented on #219
It might also be worth thinking about what we'd call a metric for APIs supported in exactly 2 and 4 browsers. (For 3, that's Failure to Ship and Aggressive Removal.)

[2017-10-03 22:20] foolip commented on #178
I filed https://github.com/GoogleChrome/confluence/issues/219, I guess let's leave this issue for the potential addition of standardization status.

[2017-10-03 23:08] bzbarsky commented on #219
Browser-Specific is indeed already OK.  I like "Lone removal" and "API count".

For "failure to ship", "lone non-support" is better than anything I've thought of...

[2017-10-04 02:15] othermaciej commented on #219
Failure to Ship --> Lone Omission? Browser-Specific Omission?

[2017-10-04 07:10] foolip commented on #219
@othermaciej, I like both Lone Omission and Browser-Specific Omission, I guess it depends on what fits best in with the rest of the names.

@mdittmer, what do you think? Is there a naming scheme that you'd be happy with and which is so generic as to make it hard to later add the additional metrics for 2 and 4 browsers?

[2017-10-04 14:58] mdittmer commented on #219
I like API Count! The others feel wordy and awkward. Of the Failure to Ship replacements, I guess I prefer "Lone Omission".

[2017-10-12 13:40] mdittmer opened #221 "Request cache needs tests"
When the request cache fills up, it's erroring out. It needs to be tested so that this (and any other bugs) are fixed.

Known error:

[code]

[2017-11-06 14:48] mdittmer commented on #204
`CustomEvent.detail` is genuinely missing from `CustomEvent.prototype` in Safari 9.1. It exists in Safari 8 and 10.

[2017-11-06 14:58] mdittmer opened #229 "API discovery excludes anything not in Object.getOwnPropertyNames()"
Umbrella bug for the following issue (example drawn from Safari 9 data):

[code]

More generally: current API discovery strategy misses any API that appears when accessed directly, but appears nowhere in `Object.getOwnPropertyNames()` along the object's prototype chain.

[2017-11-06 14:59] mdittmer commented on #229
This issue was mentioned in #204, and #201 is a special case of this issue.

[2017-11-06 16:30] RByers commented on #164
This is fixed but not yet rolled out, right @mdittmer?

[2017-11-07 13:25] mdittmer commented on #204
The "Aggressive Removal metric" part of this is fixed in prod. Note cross-referenced outstanding issue.

@othermaciej does this look better? (Of course, properties like `indexedDB` that are covered in #229 still show up in the link you provided.)

[2017-11-07 13:25] #204 closed

[2017-11-07 13:27] mdittmer commented on #174
This is fixed in prod. Dash-separated properties are omitted for now.

[2017-11-07 13:27] #174 closed

[2017-11-07 14:12] bzbarsky opened #235 "CSSStyleDeclaration.WebkitAlignSelf is claimed to be a Firefox-specific API"
It's clearly present in Chrome, for example: `"WebkitAlignSelf" in document.body.style` tests true.

There's a bunch of these Webkit* bits on CSSStyleDeclaration that are incorrectly claimed to be Firefox-only.

[2017-11-07 14:22] bzbarsky opened #236 "Data for DOMRectList seems to be bogus"
DOMRectList.item and DOMRectList.length are claimed to be Firefox-only APIs.  But a simple testcase shows they exist at least in Chrome and Safari:

    <script>
      alert(document.documentElement.getClientRects().item + "\n" +
            document.documentElement.getClientRects().length);
    </script>

[2017-11-07 14:25] bzbarsky opened #237 ".stack on Errors is claimed to be a Firefox-only API, when it's not"
It's in all browsers, and required for web compat.  It's just that some browsers make it an instance property, not a prototype property.

[2017-11-07 14:52] bzbarsky opened #238 ""browser-specific" Navigator properties are complicated"
There are properties that the HTML spec requires to be on Navigator only for some values of the UA string (required for web compat).  That means that while those properties may only be present in UAs that have that UA string, they are not, in some sense, "browser-specific"; they are UA-string-specific....

[2017-11-07 15:02] bzbarsky opened #239 "document.execCommand is not a Firefox-specific API"
It's claimed to be such by confluence, but it exists in all browsers and is needed for web compat.

[2017-11-07 15:02] bzbarsky commented on #239
And same thing for getElementsByName....

[2017-11-07 15:03] bzbarsky commented on #239
And probably most if not all of the queryCommand* bits.

[2017-11-07 15:05] bzbarsky commented on #78
@mdittmer Is this why the "failure to ship" dashboard has a huge list of things for Firefox under CSSStyleDeclaration?

[2017-11-07 15:10] mdittmer commented on #169
This is fixed in prod.

[2017-11-07 15:11] mdittmer commented on #164
This is fixed in prod.

[2017-11-07 15:11] #164 closed

[2017-11-07 18:57] othermaciej commented on #204
Yes, looks more sensible now.

[2017-11-07 18:59] othermaciej commented on #169
It's still broken in the repository's .md file.

[2017-11-07 18:59] othermaciej commented on #169
(I don't have the power to reopen, should I file a new issue for that?)

[2017-11-10 21:48] RByers commented on #199
@arronei (Edge API catalog guy) says he's in the process of adding these to the Edge API catalog - about 701 symbols in all, 69 if you exclude `Symbol.toStringTag`.

[2017-11-10 22:02] RByers opened #242 "Add Edge 16 data"
It looks like BrowserStack has Edge 16 now.  Looking over some of the Edge "failure to ship" data with @arronei it seems like a lot has been fixed in Edge 16, so it would be nice to get that data.

[2017-11-13 15:13] foolip commented on #169
I'll reopen.

[2017-11-13 15:43] jpmedley commented on #177
Any progress on this?

[2017-11-13 15:44] mdittmer commented on #169
Oops! I thought it was only broken on the site itself. Thanks for pointing this out!

[2017-11-13 15:47] mdittmer commented on #242
This should be fixed when I push https://github.com/GoogleChrome/confluence/tree/r2017-11-11_00

[2017-11-13 15:50] mdittmer commented on #177
Nothing yet. FWIW, the rightmost "X" control should remain in a fixed position as you remove browsers, so clicking the same point repeatedly should remove other browsers in relatively short order.

[2017-11-14 13:06] foolip commented on #169
Now fixed by https://github.com/GoogleChrome/confluence/pull/244.

[2017-11-14 13:06] #169 closed

[2018-01-03 17:49] jpmedley commented on #122
53.0.2785.101 is not currently in the release list, so no way to investigate.

[2018-01-04 17:08] #122 closed

[2018-01-11 12:30] foolip commented on #242
We have Edge 16 data now. @mdittmer, please confirm that there isn't anything more to this issue.

[2018-01-11 12:33] foolip commented on #239
The problem is that execCommand and getElementsByName is on HTMLDocument in Gecko, and on Document everywhere else. In other words, part of this mess: https://github.com/whatwg/dom/issues/221

[2018-01-11 12:40] foolip commented on #238
Yes, that's unfortunately case, and we even enshrined it in the spec:
https://html.spec.whatwg.org/multipage/system-state.html#concept-navigator-compatibility-mode

@bzbarsky, do you think that https://github.com/GoogleChromeLabs/confluence/issues/219 is the remedy, or something else?

[2018-01-11 12:45] foolip commented on #237
Yep, looks like Firefox has `Error.prototype.stack` but nobody else. I don't see `stack` in https://tc39.github.io/ecma262/#sec-properties-of-the-error-prototype-object, is this not defined by any spec?

@mdittmer, do we have an umbrella bug for these instance vs. prototype issues?

[2018-01-11 12:47] foolip commented on #236
Blink has `[ NoInterfaceObject ] interface DOMRectList`, which matches https://drafts.fxtf.org/geometry/#DOMRectList

I'm pretty sure this changed in the not too distant past.

[2018-01-11 12:47] foolip commented on #235
Sounds like https://github.com/GoogleChromeLabs/confluence/issues/201

[2018-01-11 13:33] bzbarsky commented on #238
I don't know; hence "complicated".

[2018-01-11 13:33] bzbarsky commented on #237
Correct.  It's just needed for web compat.  ;)

[2018-01-11 13:35] bzbarsky commented on #236
Ah.  Yeah, and imo that spec change was bogus and it should be reverted.  See https://github.com/w3c/fxtf-drafts/issues/233

But the bigger point is that confluence is getting the information wrong, because it claims the APIs don't exist in browsers where they very much _do_ exist.  _That_ is a confluence bug.

[2018-01-11 14:27] mdittmer commented on #236
Do we already have a more general bug about using instance factories to
discover APIs? The current procedure for Confluence should
*consistently* exclude
any NoInterfaceObject API that is not accessible via instances hanging off
the global object. The real bug is that we haven't implemented a slew of
factories to produce instances of such APIs for inspection.

On Thu, Jan 11, 2018 at 8:35 AM, Bori

[2018-01-11 14:29] mdittmer commented on #237
We do not have an umbrella bug for instance vs. prototype issues, but we do
interpret accessible instances. I think this needs a factory to produce an
instance for inspection.

On Thu, Jan 11, 2018 at 8:33 AM, Boris Zbarsky <notifications@github.com>
wrote:

[2018-01-11 14:33] mdittmer commented on #235
Thanks for the report, @bzbarsky! I'm closing this as being subsumed by #201

[2018-01-11 14:33] #235 closed

[2018-01-11 14:35] mdittmer commented on #239
This is the sort of thing that would be nice to be able to "annotate API bindings" with. Unfortunately, we don't have the resources to even roadmap that feature at this point :crying_cat_face:

[2018-01-11 14:36] mdittmer commented on #242
We do have it. Although the rollout for it was actually inconsistent until I staged a release yesterday (so I'm glad it's now where it belongs in GCS).

[2018-01-11 14:36] #242 closed

[2018-01-11 17:02] bzbarsky commented on #237
`new Error` works fine.

[2018-01-12 09:53] foolip opened #250 ""Running locally" steps don't work out of the box"
https://github.com/GoogleChromeLabs/confluence#running-locally

This what I see:
[code]

Problem is that the needed data isn't there. I have to *first* run these instructions from @mdittmer:
[code]

Skipping "Generate metrics" bit doesn't work, so I just copied all of the data from the web-apis repo.

[2018-01-12 22:08] jpmedley opened #251 "Step 3 of 'Collecting Data" Refers to Non-Existent File"
I wasn't able to finish the instructions to [Collecting Data](https://github.com/GoogleChromeLabs/confluence#collecting-data) because step 3 refers to a `main/og_to_json.es6.js` file, which doesn't exist.

[2018-01-14 12:14] foolip commented on #239
@mdittmer, do you mean the ability to add comments to APIs, or some merging of prototypes in this case?

[2018-01-17 18:05] #250 closed

[2018-01-22 16:30] RByers opened #257 "Event prototype screwed up in Chrome"
Looking at the [Chrome failure to ship list](http://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Chrome_62.0.3202.62_Windows_10.0%22,%22Chrome_40.0.2214.93_Windows_10.0%22,%22Chrome_41.0.2272.89_Windows_10.0%22,%22Chrome_42.0.2311.135_Windows_10.0%22,%22Chrome_43.0.2357.81_Windows_10.0%22,%22Chrome_44.0.2403.89_Windows_10.0%22,%22Chrome_45.0.2454.85_Windows_10.0%22,%22Chrome_46.0.2490.7

[2018-01-22 23:25] foolip commented on #257
Hmm, there might be an actual problem here:
https://chromium.googlesource.com/chromium/src/+/65a2abd48ff21a19d3394c1200b9a632a642cdb7/extensions/renderer/resources/event.js#401
https://chromium.googlesource.com/chromium/src/+/65a2abd48ff21a19d3394c1200b9a632a642cdb7/extensions/renderer/resources/event.js#498

So `dispatchToListener` and `getRules` must have something to do with that script, but I

[2018-01-22 23:55] foolip commented on #200
Renamed this issue since it's a matter of creating instances more than finding them. Two recent issues are [DOMRectList](https://github.com/GoogleChromeLabs/confluence/issues/236) and [Error](https://github.com/GoogleChromeLabs/confluence/issues/237).

Adding the roadmap label since this has come up a fair number of times now, and just the mechanism itself without actually creating a lot of instan

[2018-01-23 00:32] foolip opened #259 "location.href claimed to be missing from Chrome, but is there"
In Chrome 62 on Windows 10 in BrowserStack, `Object.getOwnPropertyNames(location)` includes `href`. However, it's claimed to be missing in the confluence data.

[2018-01-31 12:09] foolip opened #260 "All Web IDL constants are missing"
I was using confluence to research https://github.com/w3c/svgwg/issues/291 a bit today, to see if https://svgwg.org/svg2-draft/types.html#InterfaceSVGUnitTypes was implemented everywhere.

The interface object is there (everywhere), but the constants aren't listed. They are own properties of the interface object, and I do see SVG_UNIT_TYPE_UNKNOWN in the data collected in https://github.com/mdittm

[2018-02-05 16:44] foolip opened #261 "window.offscreenBuffering is missing"
Per https://bugs.chromium.org/p/chromium/issues/detail?id=438370 window.offscreenBuffering is in all engines except Gecko, but it cannot be found in the API catalog at http://web-confluence.appspot.com/. It does appear in the object graph data in https://github.com/mdittmer/web-apis however, so this is probably a bug in the post-processing.

[2018-02-12 14:51] foolip commented on #259
Apparently `Object.getOwnPropertyNames(Location.prototype)` doesn't include "href", or anything other than "constructor".

[2018-02-12 14:59] foolip commented on #183
Since this was filed we've looked at a bunch of data and found a bunch of bugs, trying to pursue this doesn't seem worthwhile.

[2018-02-12 14:59] #183 closed

[2018-02-25 09:39] foolip opened #262 "Use as short version numbers as is relevant for each browser"
In the browser picker, we use the full version numbers, which isn't very important to show, and means that we get longer lists where it's harder to find what you're looking for, especially if you're looking for a specific version and platform.

Should probably be consistent with https://github.com/w3c/wptdashboard/issues/494 (and https://github.com/w3c/wptdashboard/issues/493).

[2018-02-25 09:40] foolip commented on #262
Screenshot of the problem:
![screenshot_20180225-163750](https://user-images.githubusercontent.com/498917/36640016-8684cce8-1a4a-11e8-8ba5-28efd935553d.png)

[2018-03-04 21:45] foolip opened #263 "og_to_json.es6.js never finishes on Mac"
Using confluence commit 09bf0205e93050ded8c90b7d90ab4a30ebdbbb20 and JSON files from https://github.com/mdittmer/web-apis/commit/3136209e2825a13de4cb7d6373a9df0dd09ba1a5, this command never seems to finish:

[code]

[2018-04-20 15:27] dontcallmedom opened #276 "Confluence shows RTCDataChannel not implement in Firefox"
[Confluence](https://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Firefox_59.0_Windows_10.0%22,%22Chrome_65.0.3325.146_Windows_10.0%22,%22Edge_16.16299_Windows_10.0%22,%22Safari_11.0.3_OSX_10.13.3%22%5D&releaseOptions=null&numAvailable=null&currentPage=0&gap=5&itemPerPage=15&searchKey=%22RTCDataChannel%22) claims that none of the methods/properties of `RTCDataChannel` are implemented in

[2018-04-23 06:58] dontcallmedom commented on #276
that makes sense indeed :) closing

[2018-04-23 06:58] #276 closed

[2018-05-01 19:04] mdittmer commented on #263
@foolip I just ran the following:

    gsutil -m cp -r 'gs://web-api-confluence-data-cache/latest/object-graph/*' ./data/object-graph
    time node --max_old_space_size=4096 main/og_to_json.es6.js

    [[...tons of logging...]]

    node --max_old_space_size=4096 main/og_to_json.es6.js  179.17s user 4.94s system 159% cpu 1:55.36 total

Could you please try it out and confirm that this is fixed?

[2018-05-01 19:05] mdittmer commented on #263
... I ran it against `master`, i.e., `8087a9417179d77cbb5a4d5057d7fda53b56b29a`.

[2018-05-01 19:15] mdittmer commented on #173
I just checked `safari8JsObjectGraph.getObjectKeys(safari8JsObjectGraph.lookup('window.document.body.style'))` and it contains > 300 camelCase CSS properties. Here's a view comparing new browser releases to Safari 7 & 8:

https://web-confluence.appspot.com/#!/catalog?releaseKeys=%5B%22Chrome_65.0.3325.146_Windows_10.0%22,%22Edge_16.16299_Windows_10.0%22,%22Safari_11.0.3_OSX_10.13.3%22,%22Safari_7.

[2018-05-01 19:15] #173 closed

[2018-05-01 19:57] mdittmer commented on #257
I suspect that this arises from the following truth in Chrome:

    window.chrome.webstore.onDownloadProgress.__proto__.constructor.name === window.Event.name

It's likely that [API Extractor](https://github.com/GoogleChromeLabs/confluence/blob/e1ec7594e6b37758dde7f0622e1d21983138fefd/lib/web_catalog/api_extractor.es6.js) isn't expecting two constructor+prototype pairs to map to the same interface

[2018-05-01 20:10] mdittmer commented on #257
Looks like I was right [this line](https://github.com/GoogleChromeLabs/confluence/blob/e1ec7594e6b37758dde7f0622e1d21983138fefd/lib/web_catalog/api_extractor.es6.js#L420) should be expanded to emit a warning if `apiCatalog[name]` already exists, and then perform a dedup-concat, rather than a clobber.

[2018-05-02 20:46] #257 closed

[2018-05-11 14:39] tantek opened #288 "Define "Grace Period" and "can reasonably assume are still a part of the web..."
The Confluence Metrics graphs are quite interesting! It would be great if the "Grace Period" could be better defined, in particular, how do you qualify the start of a grace period?

Is it when the defining standard reaches a certain level of document maturity? E.g. W3C Recommmendation or at least Candidate Recommendation?

Or given the qualification "can reasonably assume are still a part of the w

[2018-05-15 01:28] mdittmer opened #292 "Find and fix cases where WebDriver is bleeding into API space"
A good starting point: several things in https://confluence-service-fix-dot-web-confluence.appspot.com/#!/catalog?releases=%5B%22Edge_16.16299_Windows_10.0%22,%22Safari_11.1_OSX_10.13.4%22,%22Chrome_66.0.3359.117_Windows_10.0%22,%22Firefox_60.0_Windows_10.0%22%5D&q=%22_%22

@kereliuk would you be able to take this on for ChromeDriver? I know @lukebjerring is already putting together a patch for on

[2018-05-15 01:55] mdittmer opened #293 "Aggressive removal metric inconsistent"
Clicking a link in the "Aggressive Removal" graph at https://url-state-graph-links-dot-web-confluence.appspot.com/#!/confluence lands on a page with a higher count of APIs than the metric from the graph.

[2018-05-15 02:01] mdittmer commented on #293
It appears that the old `count:n` mechanism for ensuring that the API is shipped in "at least one past release" (i.e., the removal part of aggressive removal) got dropped in URL generation. That said, adding `(in:oldRelease1 or in:oldrelease2 or ...)` manually does not always yield the same number of APIs either (though it comes close).

[2018-05-15 02:07] mdittmer commented on #293
One underlying cause: `og.chromium.mlang.ArrayCount` (at least) is not whitelisted, so queries containing `count:n` atoms are failing. Application logic for adding `count:n` to generated URLs may be missing as well.

[2018-05-15 12:11] kereliuk commented on #292
I am confused what the issue is and how to interpret the link here. Can you provide more context? :)

[2018-05-15 15:15] mdittmer commented on #293
This has been mostly fixed by #295 but counts are still slightly off.

[2018-05-15 15:29] mdittmer commented on #288
Grace Period is explicitly defined [here](https://github.com/GoogleChromeLabs/confluence#the-metrics). For example, an API contributes to the "Browser-Specific" count for Browser X on Date D iff:

1. All releases of Browser X from Date D to Date D-1year include the API
1. All releases of other browsers (not Browser X) from Date D to Date D-1year do not include the API

[2018-05-15 15:29] #263 closed

[2018-05-15 15:43] mdittmer commented on #259
`Object.getOwnPropertyDescriptor(location, 'href')` in Chrome satisfies the [definition of a constant](https://github.com/GoogleChromeLabs/confluence/blob/e1ec7594e6b37758dde7f0622e1d21983138fefd/CatalogDataCollection.md#class-api-naming-heuristics) so it is excluded.

Does the spec specify whether or not location instances should have a property descriptor with a value?

[2018-05-15 15:49] mdittmer commented on #203
This is fixed in master. Coming in next release.

[2018-05-15 19:54] foolip commented on #259
Spec is at https://html.spec.whatwg.org/multipage/history.html#the-location-interface and uses `[Unforgeable]`, which per https://heycam.github.io/webidl/#Unforgeable means that "the property will be non-configurable and will exist as an own property on the object itself rather than on its prototype."

But, I think that ought to still be a getter/setter pair rather than a data property. Can you ch

[2018-05-15 22:17] mdittmer commented on #259
Interesting. So no specification of getter vs. value, which is what we are
using to detect constants.

On May 15, 2018 3:54 PM, "Philip Jägenstedt" <notifications@github.com>
wrote:

Spec is at
https://html.spec.whatwg.org/multipage/history.html#the-location-interface
and uses [Unforgeable], which per
https://heycam.github.io/webidl/#Unforgeable means that "the property will
be non-configurable an

[2018-05-16 14:25] foolip commented on #259
I'm pretty sure it should be a getter, not a data property. If you search for "data propert" and "[[Value]]" in the Web IDL spec I think that's everything involving data properties, and constants are included there. https://heycam.github.io/webidl/#namespace-object is too, so I wonder if this heuristic is going to be increasingly wrong.

[2018-05-18 19:18] #288 closed

[2018-05-18 19:28] mdittmer commented on #260
@bzbarsky do you think the data at [the const-case staging instance](https://const-case-data-dot-web-confluence.appspot.com/) is more or less accurate wrt Firefox APIs?

[2018-05-18 19:50] bzbarsky commented on #260
I wish I could tell you.   The staging instance shows mostly "..." for me various places without enough label text to actually say anything about anything.

[2018-05-18 19:56] bzbarsky commented on #260
That said, if you are just adding constants, then I would expect to see 372 things added from the DOM_VK_* constants on KeyEvent and KeyboardEvent.  Is that about what you're seeing?

[2018-05-18 19:57] bzbarsky commented on #260
(Those are the constants from https://www.w3.org/TR/1999/WD-DOM-Level-2-19990923/events.html#Events-KeyEvent fwiw.)

[2018-05-18 20:09] mdittmer commented on #260
The change is actually to include APIs that appear to be constants (i.e.,
have a "value" in descriptor, rather than getter/setter) but are *not*
CONST_CASE. Prod exclude valued properties regardless of their name. So,
the change should be purely additive, and should not introduce CONST_CASE
properties.

On Fri, May 18, 2018, 3:57 PM Boris Zbarsky, <notifications@github.com>
wrote:

[2018-05-18 20:35] bzbarsky commented on #260
Well, https://const-case-data-dot-web-confluence.appspot.com/ is certainly showing CONST_CASE things.

[2018-05-20 14:33] mdittmer commented on #260
Oops. I fixed the code without updating the data. Please try the staging URL now. Most (not all) CONWT_CASEs are now filtered out, but other "value"d things are included.

Looks like some additional filtering is needed to drop non-APIs that accidentally shipped with browsers or bleed through from the data collection methods (e.g., interface names `+toString+` and `a`)

[2018-05-20 14:40] mdittmer opened #299 "Filter out obvious non-APIs"
Interface names like `a` and `+toString+` currently show up on master branch data collection. @foolip are there any ligitimate interface names that would fail `name.length > 1 && /^[a-zA-Z]+$/.test(name)`?

[2018-05-21 08:33] foolip commented on #299
What are all the previously reported top-level things that would be excluded? Things with numbers come to mind, like Int8Array. As for short things, there isn't anything that disallows the introduction of single-char names, although I doubt it will ever happen. Where is `a` coming from? We have found accidentally leaked variable names from scripts and the like, and catching those is nice.

[2018-05-21 08:38] foolip commented on #260
@mdittmer, https://const-case-data-dot-web-confluence.appspot.com/ includes stuff that isn't in any of the 4 listed browsers, is that intentional? Also I'm not able to scroll with page up/down, that would be nice.

[2018-05-21 08:39] foolip commented on #260
Another somewhat surprising thing is that searching for "HTMLMedia" doesn't find HTMLMediaElement. I know that's because the data isn't loaded yet, but that didn't stop me from trying.

[2018-05-21 08:41] foolip commented on #260
HTMLMediaElement#HAVE_NOTHING now shows up, and I don't see HAVE_NOTHING anywhere else, so constants on interface objects (constructors) aren't being filtered out, that's good! I wonder if there are any things that are filtered out that aren't included on some other "object" instead?

[2018-05-22 11:20] foolip commented on #260
@bzbarsky, the problem was that some things that weren't CONST_CASE were previously excluded, like in https://github.com/GoogleChromeLabs/confluence/issues/259. Including those is the most important thing. But IDL constants also show up both on the interface object and on instances, so there's a risk of double counting. @mdittmer, can you list which APIs are excluded by the new logic?

[2018-05-22 14:27] bzbarsky commented on #259
@mdittmer if href is not an accessor property that's definitely a bindings bug in Blink.

[2018-05-22 14:29] bzbarsky commented on #260
Well, on the interface object and on the prototype.  And yes, there is risk of double-counting.

I don't have a strong opinion about whether IDL constants should be included or not; I agree it's important to include things like static methods.

If you just want to exclude IDL constants, then excluding value properties which are non-writable is possibly a better approach than excluding based on nam

[2018-05-22 14:35] bzbarsky commented on #259
I filed https://bugs.chromium.org/p/chromium/issues/detail?id=845493 on that.

[2018-05-22 19:54] mdittmer commented on #299
Here's a summary of known non-APIs and where they come from:

- `a`: An old version of Safari contains a polyfill that mistakenly bled into the global object
- `+toString+`: This one is complicated. Basically, `+toString+` appears in the list of things on the global object because it's a leaky abstraction for `Object.prototype` member names, and `window` has `Object.prototype` in its prototype cha

[2018-05-23 15:40] foolip commented on #260
Argh, right you are. That just makes the double counting more certain, don't need to find an instance to have the problem.

[2018-05-31 14:50] #196 closed

[2018-06-06 01:59] tantek commented on #288
I should have been more clear, it would be great if the Confluence Metrics graphs UI itself linked to the definition so it was more easily discoverable.

I.e. by putting a span with an ID on the definition of "Grace Period" in the README, and then linking to that fragment from the web UI, by hyperlinking the first instances of "Grace Period" (with quotes) appearing in the div class="text-content"

[2018-06-07 05:52] snarfed commented on #288
testing, 1 2 1 2 [ ](https://github.com/GoogleChromeLabs/confluence/issues/288#issuecomment-389209536) [](https://localhost:8080/publish/github)

(Originally published at: http://localhost/github_comment.html)

[2018-06-19 09:20] foolip commented on #219
Thanks @mdittmer, I tried it on https://update-metric-names-dot-web-confluence.appspot.com/ and it LGTM!

[2018-06-19 14:32] foolip opened #306 "Unprefixed Web Speech API incorrectly claimed to be supported by Chrome"
https://web-confluence.appspot.com claims that APIs like `SpeechRecognition` and `SpeechSynthesis` are supported in Chrome, but these APIs are currently prefixed only, e.g. `window.SpeechRecognition` is undefined.

This is probably because `webkitSpeechRecognition.name` is "SpeechRecognition".

This might also affect some other webkit-prefixed APIs in Chrome and possibly Safari.

[2018-08-30 20:29] connorshea opened #318 "Chrome for macOS and Chrome for Windows have different results for Bluetooth APIs"
[Link to Bluetooth API search](https://web-confluence.appspot.com/#!/catalog?releases=%5B%22Chrome_59.0.3071.86_OSX_10.11.6%22,%22Chrome_59.0.3071.86_Windows_10.0%22,%22Chrome_68.0.3440.75_OSX_10.13.6%22,%22Chrome_68.0.3440.75_Windows_10.0%22%5D&q=%22bluetooth%22)

Are Bluetooth APIs really supported on macOS but not Windows?

<img width="1438" alt="screen shot 2018-08-30 at 2 28 09 pm" src="https

[2018-08-31 13:36] mdittmer commented on #318
That is basically correct. I just tested on a Windows laptop (in case using BrowserStack in the cloud was causing issues). Bluetooth APIs are, indeed, missing. The info [here](https://github.com/WebBluetoothCG/web-bluetooth/blob/gh-pages/implementation-status.md) explains that Bluetooth APIs are not enabled by default on Linux and Windows.

[2018-08-31 13:38] mdittmer commented on #318
@connorshea would you be willing to file an issue to track this on https://github.com/mdn/browser-compat-data ?

[2018-08-31 13:38] #318 closed

[2018-08-31 16:01] connorshea commented on #318
Yep, sorry for the incorrect issue!

[2018-08-31 18:58] #293 closed

[2018-08-31 19:01] mdittmer commented on #261
This appears to be fixed: http://web-confluence.appspot.com/#!/catalog?releases=%5B%22Safari_11.1_OSX_10.13.4%22,%22Edge_17.17134_Windows_10.0%22,%22Firefox_61.0_Windows_10.0%22,%22Chrome_68.0.3440.75_Windows_10.0%22%5D&q=%22offscreen%22

[2018-08-31 19:01] #261 closed

[2018-08-31 19:28] foolip commented on #261
Cool, thanks!

[2018-09-03 11:41] gsnedders commented on #229
We almost certainly want to consider `Object.getOwnPropertySymbols` too in browsers that support it.

Anything omitted from that or `getOwnPropertyNames` violates an ES spec invariant, right? Is there any way to workaround in general the Safari 9.1 issue, for example? (I don't think so, given it seems to be an issue with the bindings?)

[2018-09-03 12:50] mdittmer commented on #229
I would agree that we should be checking `Object.getOwnPropertySymbols`. AFAICT the only way to *partially* work around the bindings issue is to inject external information and attempt to access properties directly; e.g., trying `webkitFoo` for all `foo`s on `CSSStyleDeclaration.prototype`, or poke around for known interface members after consulting something like imported Web IDL parse trees.

[2018-09-26 13:33] foolip opened #320 "Add Safari 12 data"
Safari 12.0 was just released with macOS 10.14 Mojave, but is available from 10.12.

We should get this data into confluence to see if it changes the picture for Safari-only APIs, if there are additions to celebrate, etc.

I can't find a release blog post, https://developer.apple.com/safari/download/ still claims it's beta, but I'm pretty sure that's just because it was *just* released.

@othermac

[2018-10-01 15:07] #142 closed

[2018-10-01 15:10] foolip commented on #195
Confirmed fixed in new UI.

[2018-10-01 15:10] #195 closed

[2018-10-12 08:11] foolip commented on #320
This is live now.

[2018-10-12 08:11] #320 closed

[2018-11-01 18:34] foolip opened #327 "Collect data from Chrome 69 and Firefox 62"
Chrome 68 and Firefox 61 are the latest versions on http://web-confluence.appspot.com, but both browsers have had stable releases then. Having this data would be useful for a time-series analysis running up to the present day.

[2018-11-01 18:38] foolip commented on #327
Oops, Chrome 70 and Firefox 63 have also been released, just not on BrowserStack.

[2018-11-12 19:31] gsnedders opened #328 "Download broken?"
From https://web-confluence.appspot.com/#!/catalog?releases=%5B%22Safari_11.1_OSX_10.13.4%22,%22Edge_17.17134_Windows_10.0%22,%22Chrome_70.0.3538.67_Windows_10.0%22,%22Firefox_62.0_Windows_10.0%22%5D&q=%22in:saf11.1%20in:chr70%20notin:edg17%20notin:fir62%22 hitting the download button outputs a 207 byte file which is clearly incomplete.

[2018-11-14 11:24] dontcallmedom opened #329 "Updates to cached data"
The readme mentioned that the dashboard can be run after downloading data files à la https://storage.googleapis.com/web-api-confluence-data-cache/latest/json/org.chromium.apis.web.ReleaseWebInterfaceJunction.json

This files doesn't seem to have been updated since August 1st - are there still plans to update those, or have then been over taken by the query system?

(for reference, I have been usin

[2018-11-29 13:55] foolip opened #330 "Set a minimum size for the API name column"
[This page](http://web-confluence.appspot.com/#!/catalog?releases=%5B%22Chrome_40.0.2214.93_Windows_10.0%22,%22Chrome_41.0.2272.89_Windows_10.0%22,%22Chrome_42.0.2311.135_Windows_10.0%22,%22Chrome_43.0.2357.81_Windows_10.0%22,%22Chrome_44.0.2403.89_Windows_10.0%22,%22Chrome_45.0.2454.85_Windows_10.0%22,%22Chrome_46.0.2490.71_Windows_10.0%22,%22Chrome_47.0.2526.73_Windows_10.0%22,%22Chrome_48.0.256

[2018-12-06 18:12] Fowziah opened #331 "Fowziah"
Hi

[2019-01-10 17:06] jpmedley opened #332 "confluence command should print messages when it doesn't work"
The confluence command used by browser-compat-data should print messages when it doesn't work. When I pass an interface that doesn't exist, WebGL2ComputeRenderingContext for example, I get nothing from the confluence command. Did it happen because this interface isn't on the object graph or some other reason?

https://github.com/mdn/browser-compat-data/issues/3171

[2019-01-18 13:19] foolip opened #333 "Deploy Safari 12 data"
https://github.com/mdittmer/web-apis/pull/62 added data from Safari 12, but http://web-confluence.appspot.com/#!/catalog still shows Safari 11.1

[2019-01-21 20:59] foolip opened #335 "readlink -f doens't work on macOS"
Like https://github.com/mdittmer/web-apis/issues/41 but for this repo

[2019-01-22 10:20] foolip opened #336 "Proxy.revocable is not detected in Edge 16"
See https://github.com/mdn/browser-compat-data/pull/3313#pullrequestreview-194598103. Proxy.revocable is thought by Confluence to be added in Edge 17, but this appears to be incorrect.

"revocable" is in https://github.com/mdittmer/web-apis/blob/master/data/og/window_Edge_16.16299_Windows_10.0.json, so there's probably something wrong with the heuristic. @mdittmer can you help me check what condit

[2019-01-22 17:24] mdittmer commented on #335
I coped with this using the following bandaid (not saying it's best long term, but it has served me well):

/first/dir/in/your/PATH/readlink

[code]

[2019-01-22 18:44] mdittmer commented on #336
The symptom here appears to be that `Proxy.prototype` does not exist in Edge 16. Its existence is one of the heuristics used to discover properties on `window` that appear to be constructors, and therefore should be processed for `Ctor.someFn` detection of static methods.

What's curious is that it appears to be missing from Edge 17 too, so some other aspect of the object graph walk must be discov

[2019-01-22 19:03] mdittmer commented on #336
This appears to be the problem:

- In Edge 16 and 17 `Proxy` *does not * [present as a _constructor_](https://github.com/GoogleChromeLabs/confluence/blob/0a0ead8bd9f5d260a802346764337db6acaf5dac/lib/web_catalog/api_extractor.es6.js#L596) because it has no `.prototype`; it is never added to the list of global constructors to be checked for static methods;
- In Edge 16 `Proxy` *does* [present as a f

[2019-01-25 22:27] Hexcles opened #338 "Unit tests are broken"
`npm run test` currently fails on master.

[2019-02-06 11:15] foolip commented on #338
I found this too, and also found that it's failing on the r2018-11-01_00 branch. Here's the interesting part of the output I think:
[code]

It's not clear if the "Assertion failed" bits at the beginning are the cause of the failure or not, seems like maybe it *didn't* throw an exception and that's why the test failed?

@mdittmer is it obvious what's wrong here?

[2019-02-06 11:36] foolip opened #340 "Deploy with Edge 12 data"
https://confluence-247cfbb--foam2-4e494ae-dot-web-confluence.appspot.com is a test deployment.

It's pretty clear that something is wrong with the Edge 13 data though.

[2019-02-06 12:54] foolip commented on #340
https://confluence-247cfbb--foam2-4e494ae-dot-web-confluence.appspot.com/#!/catalog?releases=%5B%22Edge_12.10240_Windows_10.0%22,%22Edge_13.10586_Windows_10.0%22,%22Edge_14.14393_Windows_10.0%22%5D&q=%22in:edge12%20notin:edge13%20in:edge14%22 shows 508 APIs in Edge 12 and 14 but claimed missing in Edge 13.

[2019-02-06 14:29] foolip commented on #340
I've redeployed https://confluence-247cfbb--foam2-4e494ae-dot-web-confluence.appspot.com with the data from https://github.com/mdittmer/web-apis/pull/79 and it looks much more reasonable. The above link now shows just one odd 12->13->14 pattern, and that's Function#name. I don't know what's going on there, but there are plenty of small little things like that, so I won't dig into it now.

[2019-02-06 14:37] foolip commented on #340
https://confluence-247cfbb--foam2-4e494ae-dot-web-confluence.appspot.com/ is getting 50% of the traffic now.

[2019-02-06 16:20] foolip commented on #340
Now at 100%.

[2019-02-06 16:20] #340 closed

[2019-02-07 03:20] mdittmer commented on #338
It's not obvious but your read is correct: we are asserting that we hit an
error condition but we are not hitting the expected error condition. The
error output prior to the test report is likely expected, but perhaps
something that used to throw is logging? Or perhaps some work is being
deferred so that no exception is synchronously thrown? These are just
guesses. I'd have to step through the par

[2019-02-07 09:37] foolip commented on #338
It looks like both the test and the code under test was were added in https://github.com/GoogleChromeLabs/confluence/pull/253.

Oddly, the tests don't seem to fail on Travis:
https://travis-ci.org/GoogleChromeLabs/confluence/builds/489954534

The confluence branch of foam2 isn't set up on Travis, perhaps there's a connection.

[2019-02-07 10:59] foolip commented on #335
Thanks @mdittmer, I'll use that until I feel inspired to send a PR removing the dependency.

[2019-02-11 14:34] foolip opened #341 "Add BrowserStack logo"
![browserstack-logo](https://user-images.githubusercontent.com/498917/52569900-852b3080-2e12-11e9-9bd0-f1e256b13e53.png)

[2019-02-11 14:34] foolip commented on #341
Submitted this issue mostly to have an image URL for the PR.

[2019-02-11 20:10] #341 closed

[2019-02-20 22:47] jpmedley opened #349 "App shows items on AudioWorkletNode interface in wrong version."
I pulled the data using the confluence command in browser-compat-data. It shows 67 as the first version of the `AudioWorkletNode` interface. Yet there is a PR that [Omaha Proxy shows as 66](https://storage.googleapis.com/chromium-find-releases-static/b38.html#b38d192d113384bc10627d88094aa43ed4541cb0).

[2019-04-01 07:28] #329 closed

[2019-04-12 06:13] othermaciej opened #350 "Console has no data newer than November 2018"
The graphs at https://web-confluence.appspot.com/#!/ have no data points past November 2018.

[2019-04-12 18:03] foolip commented on #350
I'll take care of collecting new data and updating. I'm afraid I don't have Safari 12.1 on my machine yet, and it's not on BrowserStack, but I'll find it somewhere!

[2019-04-14 21:30] foolip commented on #328
I've discovered this as well. Need to either fix or remove the download button.

[2019-04-14 21:33] foolip commented on #205
We now have 3 versions of Chrome 53, and all were added after this issue:
https://github.com/mdittmer/web-apis/blob/master/data/og/window_Chrome_53.0.2785.113_Windows_10.0.json
https://github.com/mdittmer/web-apis/blob/master/data/og/window_Chrome_53.0.2785.89_OSX_10.11.6.json
https://github.com/mdittmer/web-apis/blob/master/data/og/window_Chrome_53.0.2785.97_Android_6.0.1.json

[2019-04-14 21:33] #205 closed

[2019-04-15 07:46] foolip commented on #350
@othermaciej https://confluence-f4ca39c--foam2-4e494ae-dot-web-confluence.appspot.com/ has Safari 12.1 if you want to filter the API catalog:
https://confluence-f4ca39c--foam2-4e494ae-dot-web-confluence.appspot.com/#!/catalog?releases=%5B%22Edge_18.17763_Windows_10.0%22,%22Chrome_73.0.3683.86_Windows_10.0%22,%22Firefox_66.0_Windows_10.0%22,%22Safari_12.1_OSX_10.13.6%22%5D&q=%22in:edge18%20in:chrom

[2019-04-18 18:04] foolip commented on #350
@othermaciej https://web-confluence.appspot.com/ is now deployed with new data from stable releases of all browsers, notably including Safari 12.1.

The significant drop in Safari lone omissions particularly encouraging:
![image](https://user-images.githubusercontent.com/498917/56381361-ea394300-6214-11e9-9089-6a92ab7a0e99.png)

The concrete list of APIs:
https://web-confluence.appspot.com/#!/cata

[2019-04-18 18:04] #350 closed

[2019-04-23 21:12] foolip commented on #328
Here's the code that's misbehaving, it's client side JS:
https://github.com/GoogleChromeLabs/confluence/blob/16e1e21e21496e261db2165631fbdf40a723780d/lib/u2/DAOControllerView.es6.js#L293-L320

But the last change to that file was the commit (16e1e21e21496e261db2165631fbdf40a723780d) that introduced the functionality, so the regression must be found elsewhere.

[2019-04-23 22:54] foolip commented on #328
I'm pretty sure this is an escaping problem and https://crbug.com/123004 specifically, so a change in Chrome and not Confluence. @stephenmcgruer it may amuse you to learn it affected me, but I'm no less enthusiastic about the change :)

[2019-04-24 16:26] #328 closed

[2019-04-24 18:00] foolip commented on #328
Fixed in https://web-confluence.appspot.com/#!/ now.

[2019-04-26 09:18] foolip commented on #39
Closing this since Confluence is in maintenance mode. It would be fairly straightforward to compute the N/M metrics though in a one-off fashion, similar to what I did using BCD for a [BlinkOn talk](https://docs.google.com/presentation/d/1_On7g2EAUrVumIZr0PC-_iZszKyGT2_u1HbieThXjKA/edit#slide=id.g5597f85706_4_193).

[2019-04-26 09:18] #39 closed

[2019-04-26 09:22] foolip commented on #75
I looked into Modernizr a fair bit as a potential source for updating BCD, and found that a lot of them are trivial feature detects. Those would overlap with things already discovered by methods like Confluence's object graph discovery or tests generated from Web IDL or CSS syntax.

I ended up not pursuing it as it didn't seem to provide enough additional value, but if one wanted to use Modernizr

[2019-04-26 09:22] #75 closed

[2019-04-26 09:23] foolip commented on #102
I'd say performance is good enough now.

[2019-04-26 09:23] #102 closed

[2019-04-26 09:28] #167 closed

[2019-04-26 09:28] foolip commented on #166
Pagination is long gone!

[2019-04-26 09:28] #166 closed

[2019-04-26 10:23] foolip commented on #338
It looks like the failures are specific to Node.js 10:
https://github.com/GoogleChromeLabs/confluence/pull/358

The same tests were pass in https://github.com/GoogleChromeLabs/confluence/pull/357 with Node.js 8.

I'm running v10.15.3 locally so that explains some of what's happening.

[2019-04-26 10:27] foolip commented on #338
The assertion is from here:
https://github.com/foam-framework/foam2/blob/confluence/src/foam/core/debug.js#L166-L168

Why there's a difference between node 8 and 10 I don't know yet.

[2019-04-26 10:39] foolip commented on #338
https://travis-ci.org/GoogleChromeLabs/confluence/builds/524884969 demonstrates that it's actually the case that `foam.assert` throws on node8 and doesn't on node10. Intriguing...

[2019-04-26 10:42] foolip commented on #338
Alright, it's because of `console.assert`, as explained in https://developer.mozilla.org/en-US/docs/Web/API/console/assert: "Before Node.js v10.0.0, however, a falsy assertion would also cause an AssertionError to be thrown. This discrepancy was fixed with Node v10, so that console.assert() now acts the same in both Node and the browser."

[2019-04-26 12:44] foolip commented on #178
BCD has a three statuses for each entry which could provide what this issue is asking for:
https://github.com/mdn/browser-compat-data/blob/master/schemas/compat-data-schema.md#status-information

I doubt it is entirely accurate, but I think that's the data we'd improve. The possibility of incorporating that into Confluence metrics remains, but I'm more inclined to pursue Confluence-style metrics b

[2019-04-26 12:44] #178 closed

[2019-04-26 12:46] foolip commented on #262
I'd like to use https://github.com/mdn/browser-compat-data/tree/master/browsers to get the release dates, and then we could also use the BCD versions as canonical.

[2019-04-26 12:47] foolip commented on #299
Fixed by https://github.com/GoogleChromeLabs/confluence/pull/301.

[2019-04-26 12:47] #299 closed

[2019-04-26 14:24] Hexcles commented on #338
Aha! Compat issues! Who knew?

[2019-04-26 15:01] #338 closed

[2019-04-26 15:12] foolip commented on #338
And fixed by "UA sniffing", what could go wrong?

[2019-04-26 21:50] foolip opened #361 "Use BCD's release dates"
https://github.com/GoogleChromeLabs/confluence/blob/master/data/version_history.json has release information that's also in https://github.com/mdn/browser-compat-data/tree/master/browsers.

I'd like to use BCD, since that's already being maintained.

This could also help resolve https://github.com/GoogleChromeLabs/confluence/issues/262.

[2019-05-03 13:16] gsnedders commented on #328
Thanks for finally fixing this @foolip!

[2019-05-17 12:41] foolip opened #413 "Duplicate releases of "same" version affects metrics"
https://github.com/mdittmer/web-apis/pull/83 added data for a version of Safari 11.0, and it turns out that affects some of the graphs. It's the most clear in the API count graph.

Before:
![image](https://user-images.githubusercontent.com/498917/57928552-65902200-78b1-11e9-978b-3d62c068c1ce.png)

After:
![image](https://user-images.githubusercontent.com/498917/57928543-590bc980-78b1-11e9-8430-43f

[2019-06-12 10:02] dontcallmedom opened #427 "Incomplete methods list of WebRTC"
The report on WebRTC implementation is incomplete as it does not include all the latest additions to the WebRTC IDL from spec.

Is there any way and interest to collect data based on authoritative IDL rather than what browsers currently ship? (I would find it useful for my reuse of confluence data)

Is this related to https://github.com/mdittmer/web-apis/issues/34 ?

[2019-06-18 18:39] lukebjerring commented on #427
Provided I understand the question, on wpt.fyi we (cc @foolip) actually scrape authoritative IDL automatically, and use a testing framework to automatically generate tests against the browser implementations from the IDL itself.
https://github.com/web-platform-tests/wpt/blob/master/resources/idlharness.js

For WebRTC specifically, the test results are here:
https://wpt.fyi/results/webrtc?label=mas

[2019-06-19 09:05] foolip commented on #427
@dontcallmedom, this actually is not related to https://github.com/mdittmer/web-apis/issues/34, the web-apis repo holds a few different experiments, and the IDL-related code isn't used for Confluence. Confluence works entirely on "object graphs" collected from browsers by traversing the global object, so it doesn't include any API that has never been observed in any browser, including of course an

[2019-06-21 07:39] dontcallmedom commented on #427
I've been using the Confluence data to track progress of the implementations of a few WebRTC specs, e.g. https://dontcallmedom.github.io/webrtc-impl-tracker/?webrtc

What you're trying to do for BCD would be very close to the kind of high-level tracking I would use as well for this (indeed, something complementary to WPT, giving a higher level view of where we are in terms of spec implementations)

[2019-08-12 22:06] bzbarsky opened #462 "Geolocation data is wrong"
For example, https://web-confluence.appspot.com/#!/catalog?releases=%5B%22Edge_18.17763_Windows_10.0%22,%22Safari_12.1_OSX_10.14.4%22,%22Chrome_74.0.3729.108_Windows_10.0%22,%22Firefox_67.0_Windows_10.0%22%5D&q=%22clearWatch%22 claims that Firefox does not support "Geolocation#clearWatch", whereas `navigator.geolocation.clearWatch` exists and works perfectly fine in Firefox.  Same thing for `getCu

[2019-08-12 22:52] bzbarsky opened #463 "Firefox data is outdated"
The Firefox data seems to be from Firefox 67.  Firefox 68 was released over a month ago.

[2019-08-12 23:23] lukebjerring commented on #463
@jugglinmike could you bump us up a version?

[2019-08-12 23:50] jugglinmike commented on #463
I could give it a shot. I've never interacted with this project before, though, so I should confirm: did you mean to ask for my help?

[2019-08-13 00:23] lukebjerring commented on #463
Nope, false alarm! I'm on my phone and didn't check which project we were lagging. @foolip or @Hexcles are experienced with confluence dashboard.

[2019-08-16 10:52] foolip commented on #463
Collecting data and deploying is a manual process. I've done the first part in https://github.com/mdittmer/web-apis/pull/89, will take care of deploying too.

[2019-08-16 15:43] foolip commented on #463
Staging instance up at https://confluence-1b8a65f-dot-web-confluence.appspot.com. @bzbarsky can you take a look and see if the data makes no less sense than before? (I saw https://github.com/GoogleChromeLabs/confluence/issues/462, haven't looked into the cause.)

[2019-08-16 19:08] bzbarsky commented on #463
@foolip thank you!

The new data says TouchEvent is not supported in Firefox 68 but was supported in Firefox 67.  As far as I know, the implementation status is the same in 67 and 68, on Windows: supported on devices with touch support, not supported (and not exposed on websites) on devices without.

It also looks like the 67 run was on a system without Flash installed while the 68 run is on a sys

[2019-08-16 19:13] Hexcles commented on #463
@foolip did you collect the results locally? I'm afraid you have the React Developer Tools extension installed in your browser profile(s): __REACT_DEVTOOLS_GLOBAL_HOOK__

[2019-08-19 13:25] foolip commented on #463
I collected the Firefox 68 results from BrowserStack, but I have collected data from *some* browser releases on my laptop because they weren't available on BrowserStack yet. https://github.com/mdittmer/web-apis/pull/84 may have been like that, I didn't write in the commit message.

If I test Firefox 67 and 68 on BrowserStack now, `TouchEvent` and `TouchList` are undefined on both. So collected the

[2019-08-20 12:44] foolip commented on #463
https://confluence-547902c-dot-web-confluence.appspot.com is a new deployment that includes https://github.com/mdittmer/web-apis/pull/91 and https://github.com/GoogleChromeLabs/confluence/pull/469.

I've tested it a bit in Chrome and Firefox, looks good, so I'll go ahead and promote it to prod.

[2019-08-20 12:46] foolip commented on #463
Alright, live at https://web-confluence.appspot.com/.

[2019-08-20 12:46] #463 closed

[2019-08-20 12:49] foolip commented on #292
WebDriver itself doesn't add anything to the global object or anything else, and I haven't spotted any incorrect data that's because of the use of WebDriver to collect data, so closing this.

[2019-08-20 12:49] #292 closed

[2019-08-20 13:10] foolip commented on #462
I think this is probably caused by the interface object being found in Chrome via `navigator.geolocation.constructor`, and for example `navigator.geolocation.constructor.prototype.clearWatch` can be found via that object.

In Firefox, `navigator.geolocation.constructor == Object`. This is different from a similar case, `navigator.permissions.constructor === Permissions`.

In other words, it looks

[2019-08-20 13:27] foolip commented on #462
https://github.com/GoogleChromeLabs/confluence/issues/200 is related to this, but the usual manifestation of `[NoInterfaceObject]` is that if we can't find an instance we just don't know about its support. For `Geolocation`, an instance is easily found at `navigator.geolocation`, but if we don't what kind of thing `navigator.geolocation` is, nothing ends up in the API catalog.

[2019-08-29 18:30] bzbarsky commented on #462
Why not just find the proto (which is what you are really looking for here) via `Object.getPrototypeOf(navigator.geolocation)`?

Yep.  Safari also gets this right.  Is there a Chrome bindings bug tracking this?

It is?  That is, is there a concrete plan for it to go away for non-mixins where it's used without causing webcompat issues?

Use `Object.getPrototypeOf` instead of looking at `constructor

[2019-09-12 23:56] bzbarsky opened #481 "getBoxQuads is missing from the data"
https://drafts.csswg.org/cssom-view/#geometryutils is implemented by at least Firefox but seems to be missing from the API data Confluence has.

[2019-09-13 00:00] bzbarsky opened #482 "UI for "browser-specific" API list is pretty much unusable"
STEPS TO REPRODUCE:

1) Load https://web-confluence.appspot.com/#!/confluence
2) Click the "Browser-specific" tab (I don't see a way to link to that directly).
3) Click a point on the graph (e.g. the last one for Firefox).
4) Click the little box-with-an-arrow icon to get to the relevant API list.  It's a [long url](https://web-confluence.appspot.com/#!/catalog?releases=%5B%22Chrome_69.0.3497.92_W

[2019-09-15 00:57] foolip commented on #481
https://developer.mozilla.org/en-US/docs/Web/API/GeometryUtils suggests it's still behind a flag, is that wrong? (Unable to test myself right now.)

[2019-09-15 01:06] foolip commented on #482
Root problem IMHO is that showing that many runs isn't useful in the first place. It comes from the fact that there's a "grace period" so that APIs have to be browser-specific for a year before they show up on this metric.

I'd like to get rid of the grace period and just have the graphs be noiser but easier to understand/explain, but when I tried once it wasn't a one-liner. Making any changes to

[2019-09-15 03:11] bzbarsky commented on #481
Oh, good catch.  I thought it was enabled in release builds, but in fact it is not.  OK, then, sorry for the noise...

[2019-09-15 03:11] #481 closed

[2019-12-11 14:37] foolip opened #526 "Include Firefox 71 data"
https://www.mozilla.org/en-US/firefox/71.0/releasenotes/ was recently released.

@stephenmcgruer do you want to try this to see what the whole process is like?

[2020-03-30 12:54] stephenmcgruer opened #568 "Vendor bundle has grown over time to >1.5MB"
In https://github.com/GoogleChromeLabs/confluence/pull/567 Hexcles had to perform an emergency increase of the maxAssetSize and maxEntrypointSize to allow him to do a release of confluence. Obviously increasing the limit makes the idea of this being an error bar not that useful, so filing this so we don't forget that we did this :)

From that PR;

This is very low priority, but if we come back to

[2020-04-30 16:09] domenic opened #584 "No data after October 2019?"
https://web-confluence.appspot.com/#!/confluence stops at October 2019, listing e.g. Chrome 78 as the latest version. Has something broken?

[2020-04-30 16:10] domenic opened #585 "Allow linking directly to sub top-level pages"
I cannot link directly to the "Browser Specific" page. Instead I have to tell people to visit https://web-confluence.appspot.com/#!/confluence and then click "Browser Specific".

[2020-05-04 14:53] stephenmcgruer commented on #584
Unfortunately data collection for confluence is currently scripted-but-manual (see e.g. https://github.com/mdittmer/web-apis/pull/93 and https://github.com/GoogleChromeLabs/confluence/pull/503), and usage of this project has been low enough historically that (a) updates fall very far behind, and (b) it has not been deemed worth it to automate updating (and then maintain the automation, which is th

[2020-05-04 15:17] domenic commented on #584
There has recently been some Twitter kerfuffles claiming that browser X is shipping first, ahead of Candidate Recommendation or such, and that this is an unprecedented break in tradition. I find Confluence useful for finding both current and past counterexamples, via the "Browser-Specific" tab (see also #585). That is, it helps make it clear that advancing the web platform via shipping is somethin

[2020-05-22 09:30] othermaciej commented on #584
I would find fresher data useful for purposes of finding areas where WebKit might be behind on features, in a way that's easier to analyze than WPT results (which are much more fine grained and often hard to interpret).

[2020-05-25 13:07] foolip commented on #584
I tried to collect data from Safari 13.1 and unfortunately managed to crash Safari, filed https://github.com/mdittmer/web-apis/issues/94 about that. I've sent https://github.com/mdittmer/web-apis/pull/95 with the data I collected for Chrome and Firefox, but that not as useful without Safari data too.

@stephenmcgruer what do you think we should do?

[2020-05-27 18:12] stephenmcgruer commented on #584
Apologies for the delay here. I've been wondering if many of the insights desired here could be replaced by MDN's [browser-compat-data](https://github.com/mdn/browser-compat-data) project, if the data there was of higher quality. Currently it is missing quite a lot of data (see [an exploration I did recently](https://docs.google.com/document/d/1m4-HsHFleWflCYnwFN4R83c9ZqDgI5zS2Hpsnq6QMeQ/edit)), b

[2020-07-16 14:38] foolip commented on #584
I gave it another try to collect data using Safari 13.1.1, hoping that maybe the crash fix was in a patch release, but it still crashes.

[2020-08-18 08:02] foolip commented on #584
I tried again on 13.1.2, still crashes.

[2020-09-17 21:51] foolip commented on #584
Safari 14 was released today and I was able to collect new data: https://github.com/mdittmer/web-apis/pull/99

Working on updating Confluence now.

[2020-09-17 23:13] foolip commented on #584
Alright, https://web-confluence.appspot.com/ has been updated, check it out!

[2020-09-17 23:13] #584 closed

[2020-09-17 23:13] #526 closed

[2020-09-17 23:16] foolip commented on #568
I shrank it down slightly again in https://github.com/GoogleChromeLabs/confluence/pull/649.

For now we're just preventing regressions. To make the the bundle size actually small would be a very large undertaking, as we'd need to get rid of the foam dependency, which is used for ~everything.

[2020-09-17 23:16] #568 closed

[2020-09-28 18:18] gsnedders opened #653 "Showing multiple Blink-based browsers makes metrics nonsense"
As long as both Chrome and Edge support something, the displayed Blink-based browsers can no longer have a lone omission or lone removal nor a browser-specific API.

[2020-09-28 22:58] foolip commented on #653
Oh my, this is because of https://github.com/mdittmer/web-apis/pull/98. I didn't check beyond the API Catalog and API count metric, and indeed *all* the other metrics turn into nonsense with new Edge releases included.

There are two options:
- Revert data for new Edge and let Edge be stuck at 18.
- Try to exclude Edge from the default views and metrics.

The former is a lot quicker. @gsnedders in

[2020-09-28 23:12] gsnedders commented on #653
I'd rather the latter, but the former seems practically fine given `(in:chrome notin:edge) OR (notin:chrome in:edge)` returns a single item: `CSSStyleDeclaration#msHighContrastAdjust` especially if it's much easier to land.

[2020-10-01 09:54] foolip commented on #653
I have pushed a new release that just deleted the new Edge data: https://web-confluence.appspot.com/

I didn't delete it from https://github.com/mdittmer/web-apis however, so I'll leave this issue open as a reminder to fix this properly.

[2020-10-01 13:50] foolip commented on #653
I've made a staging release with all Edge results deleted entirely, and the metrics actually seem to work, at a glance at least:
https://confluence-b2397ab-dot-web-confluence.uc.r.appspot.com/

Releasing this is tricky though, because it would break existing links including Edge results, sometimes used as evidence in https://github.com/mdn/browser-compat-data pull requests. To make it work, I'd ne

[2020-10-01 15:18] gsnedders commented on #653
Do you not just want to add a bunch of `where` calls to https://github.com/GoogleChromeLabs/confluence/blob/master/lib/confluence/metric_computer_runner.es6.js?

[2020-10-01 22:42] foolip commented on #653
That looks like the right place, and I tried it in https://github.com/GoogleChromeLabs/confluence/pull/663, but the result isn't the same as when just deleting all of the Edge data. Edge is still included in the API count graphs, and the rest are just broken.

There must be other places in metrics where "all browsers we have data for" are implicitly used, which would also need to filter out Edge.

[2020-10-01 23:17] gsnedders commented on #653
@foolip the metrics are by far the lowest value part of this, and I think I'd be pretty happy to just see them gone if we can't make them better than nonsense. the data is then there, available, and if someone wants to make metrics out of that they can.

[2020-11-05 17:46] MrCull opened #680 "The README file in this repo has a bad link - [404:NotFound]"
The markup version of the readme that is displayed for the main page in this repo contains the following link:
Status code [404:NotFound] - Link: https://github.com/GoogleChromeLabs/confluence/blob/master

(The link in the readme’s markdown may appear different to the link above extracted from the markup)
For this one the link is under the image near the top that shows code coverage.

The bad link

[2020-12-01 13:48] foolip commented on #680
I see, this is due to the coverage bade. I will simply delete the badges.

[2020-12-01 13:49] #680 closed

[2021-06-05 03:14] Verdinjoshua26 opened #739 "Verdinjoshua26@arronei (Edge API catalog guy) says he's in the process of adding these to the Edge API catalog - about 701 symbols in all, 69 if you exclude `Symbol.toStringTag`."
@arronei (Edge API catalog guy) says he's in the process of adding these to the Edge API catalog - about 701 symbols in all, 69 if you exclude `Symbol.toStringTag`.

_Originally posted by @RByers in https://github.com/GoogleChromeLabs/confluence/issues/199#issuecomment-343596313_

[2021-06-05 05:21] #739 closed

[2021-08-13 16:26] marquizzo opened #759 "Add gridlines to graphs for easier counting"
It's a bit difficult to tell where the furthest data-points land on the horizontal axis. Does Edge breach the 5,800 API count? It's very hard to tell! If the chart had horizontal gridlines on each tick-mark, it would be much easier to read at a quick glance.

![horizontal-bars](https://user-images.githubusercontent.com/7864858/129389752-4c7e8192-3379-4533-854c-7bb5a3cc2b6d.jpg)

[2021-11-23 11:00] foolip commented on #759
Hi @marquizzo, thanks for the suggestion! I agree that would be better, but unfortunately Web API Confluence isn't being maintained much. In fact there have been no new browser releases uploaded in almost a year.

I would be happy to review a pull request adding gridlines, but can't spend time on doing it myself.